/* CUSTOM PROPERTIES */

:root {
  --primary-color: #020308;
  --atiq-red: #C04F43;
  --atiq-blue: #64A5A9;
  --light-background: #F7F7F7;
  --accent-color: #EF5C4E;
  --secondary-action-color: #CC4240;
  --tertiary-action-color: #3D878A;
  --grounding-color-redish: #E3D8DB;
  --ground-color-sandish: #E7E2CE;

}

/* Mobile Utilities */


/* 1500 PX */

@media screen and (max-width: 1500px) {

  #unlimited-customisation {
    display: flex;
    flex-direction: column;
    width: 90vw;

  }

  .icons-overview-two-column {
    display: flex;
    flex-direction: column;
  }
  
  .icons-overview-two-column img {
    width: 90vw;
  }
}

/* At 768PX */

@media screen and (max-width: 768px) {
  .mobile-menu-wrap .hamburger>div {
    background: var(--light-background);
  }

  #clean-design {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
  }

  .clean-design-content p, .clean-design-content h2 {
    text-align: center !important;
  }

  #lifetime-updates {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin: 0 2rem;
  }
  
  #lifetime-updates img {
    max-width: 70vw;
  }
  
  .lifetime-updates-content {
    justify-content: center;
    text-align: center;
  }

  #unlimited-customisation {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: auto;

  }

  .icons-overview-two-column {
    display: flex;
    flex-direction: column;
  }
  
  .icons-overview-two-column img {
    width: 90vw;
  }

  
}
