/* CUSTOM PROPERTIES */

:root {
  --primary-color: #020308;
  --atiq-red: #C04F43;
  --atiq-blue: #64A5A9;
  --light-background: #F7F7F7;
  --accent-color: #EF5C4E;
  --secondary-action-color: #CC4240;
  --tertiary-action-color: #3D878A;
  --grounding-color-redish: #E3D8DB;
  --ground-color-sandish: #E7E2CE;
}

/* Larger than Tablet */

/* Home */

@media(max-width: 1600px) {
  

  /* Gallery */

  .portfolio {
    height: 7000px;
  }


}

@media(max-width: 1379px) {
  .second-promo {
    
  }
}

/* Store */

@media(max-width: 1600px) {
  .regular-nav {
    display: grid;
    grid-template-columns: 1fr;
  }

  .regular-nav p {
    font-size: 1rem;
    align-items: center;
    text-align: center;
    padding-top: 6rem;
    word-wrap: wrap;
  }

  .store-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-template-rows: repeat(auto-fit), minmax(500px, 1fr);
    grid-gap: 4rem;
    padding: 4rem;
    /* text-align: center; */
  }

  .image-box {
    width: 500px;
    height: 500px;
    position: relative;
  }

  .product-tile img {
    object-fit: cover;
    width:500px;
    height: 500px;
  }
}

/* @1250PX */

@media screen and (max-width: 1250px) {
  .marquee {
    width: 100vw;
    background-color: var(--light-background);
    height: 62vh;
    overflow: hidden;
    justify-content: center;
    position: relative;
  }
  .marquee::before {
    position: absolute;
    width: 1rem;
    height: 100%;
    content: '';
    z-index: 1;
    display: none;
  }
  
  .marquee:before {
    left: 0;
    background: var(--light-background);
  }
  
  .marquee:after {
    right: 0;
    background: var(--light-background);
  }
  
  .marquee-content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling 30s linear infinite;
  }
  
  .marquee-content li:nth-of-type(1) {
    background: url(/static/BathAbbey1_54kb.jpg);
    background-position: center;
    background-size: cover;
    width: 60vw;
  }
  .marquee-content li:nth-of-type(2) {
    background: url(/static/BlackSwan_92kb.jpg);
    background-position: center;
    background-size: cover;
  }
  .marquee-content li:nth-of-type(3) {
    background: url(/static/CamelsWaiting\ 50Qual.jpg);
    background-position: bottom;
    background-size: cover;
  }
  .marquee-content li:nth-of-type(4) {
    background: url(/static/DreamCafe_168kb.jpg);
    background-position: center;
    background-size: cover;
    width: 60vw;
  }
  .marquee-content li:nth-of-type(5) {
    background: url(/static/HokkaidoDeer_56kb.jpg);
    background-position: center;
    background-size: cover;
    width: 60vw;
  }
  .marquee-content li:nth-of-type(6) {
    background: url(/static/BathAbbeyFrontMorning_72kb.jpg);
    background-position: center;
    background-size: cover;
    width: 60vw;
  }
  .marquee-content li:nth-of-type(7) {
    background: url(/static/BathSunsetRooftops_91kb.jpg);
    background-position: center;
    background-size: cover;
    width: 60vw;
  }
  .marquee-content li:nth-of-type(8) {
    background: url(/static/Herbie\ Dehazed\ \(Less\ Red\)\ \(WebReady\).jpg);
    background-position: center;
    background-size: cover;
  }
  .marquee-content li:nth-of-type(9) {
    background: url(/static/PultneyBridgeAfterTheStorm_81kb.jpg);
    background-position: center;
    background-size: cover;
    width: 60vw;
  }
  .marquee-content li:nth-of-type(10) {
    background: url(/static/BathAbbey1_54kb.jpg);
    background-position: center;
    background-size: cover;
    width: 60vw;
  }
  .marquee-content li:nth-of-type(11) {
    background: url(/static/BlackSwan_92kb.jpg);
    background-position: center;
    background-size: cover;
  }
  .marquee-content li:nth-of-type(12) {
    background: url(/static/CamelsWaiting\ 50Qual.jpg);
    background-position: bottom;
    background-size: cover;
  }
  
  .marquee-content li {
    size: 80%;
    filter: grayscale(100%);
  }
  .marquee-content li:hover {
    size: 80%;
    filter: grayscale(0%);
  }
  .marquee-content li .portrait {
    height: 60vh;
    width: calc(60vh*2/3);
  }
  .marquee-content li .landscape {
    height: 60vh;
    width: calc(60vh*4/3);
  }
  
  
  
  .marquee-content:hover {
    /* animation-play-state:paused; */
  }
  
  @keyframes scrolling {
    0% {
      transform: translateX(0vw);
    }
    100% {
      transform: translateX(-353vw);
    }
  }
  
  .marquee-content li {
    /* border: 3px solid #ee563b; */
    width: 80vw;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    white-space: nowrap;
    margin: 1vw;
  }
  
  .marquee-content li .portrait {
    width: 40vh;
  }
  .marquee-content li .landscape {
    width: 80vh;
  }
}

/* @768PX */

@media screen and (max-width: 768px) {
  .marquee {
    width: 100vw;
    background-color: var(--light-background);
    height: 62vh;
    overflow: hidden;
    justify-content: center;
    position: relative;
  }
  .marquee::before {
    position: absolute;
    width: 4rem;
    height: 100%;
    content: '';
    z-index: 1;
  }
  
  .marquee:before {
    left: 0;
    background: var(--light-background);
  }
  
  .marquee:after {
    right: 0;
    background: var(--light-background);
  }
  
  .marquee-content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling 30s linear infinite;
  }
  
  .marquee-content li:nth-of-type(1) {
    background: url(/static/BathAbbey1_54kb.jpg);
    background-position: center;
    background-size: cover;
    width: 95vw;
  }
  .marquee-content li:nth-of-type(2) {
    background: url(/static/BlackSwan_92kb.jpg);
    background-position: center;
    background-size: cover;
  }
  .marquee-content li:nth-of-type(3) {
    background: url(/static/CamelsWaiting\ 50Qual.jpg);
    background-position: bottom;
    background-size: cover;
  }
  .marquee-content li:nth-of-type(4) {
    background: url(/static/DreamCafe_168kb.jpg);
    background-position: center;
    background-size: cover;
    width: 95vw;
  }
  .marquee-content li:nth-of-type(5) {
    background: url(/static/HokkaidoDeer_56kb.jpg);
    background-position: center;
    background-size: cover;
    width: 95vw;
  }
  .marquee-content li:nth-of-type(6) {
    background: url(/static/BathAbbeyFrontMorning_72kb.jpg);
    background-position: center;
    background-size: cover;
    width: 95vw;
  }
  .marquee-content li:nth-of-type(7) {
    background: url(/static/BathSunsetRooftops_91kb.jpg);
    background-position: center;
    background-size: cover;
    width: 95vw;
  }
  .marquee-content li:nth-of-type(8) {
    background: url(/static/Herbie\ Dehazed\ \(Less\ Red\)\ \(WebReady\).jpg);
    background-position: center;
    background-size: cover;
  }
  .marquee-content li:nth-of-type(9) {
    background: url(/static/PultneyBridgeAfterTheStorm_81kb.jpg);
    background-position: center;
    background-size: cover;
    width: 95vw;
  }
  .marquee-content li:nth-of-type(10) {
    background: url(/static/BathAbbey1_54kb.jpg);
    background-position: center;
    background-size: cover;
    width: 95vw;
  }
  .marquee-content li:nth-of-type(11) {
    background: url(/static/BlackSwan_92kb.jpg);
    background-position: center;
    background-size: cover;
  }
  .marquee-content li:nth-of-type(12) {
    background: url(/static/CamelsWaiting\ 50Qual.jpg);
    background-position: bottom;
    background-size: cover;
  }
  
  .marquee-content li {
    size: 80%;
    filter: grayscale(100%);
  }
  .marquee-content li:hover {
    size: 80%;
    filter: grayscale(0%);
  }
  .marquee-content li .portrait {
    height: 60vh;
    width: calc(60vh*2/3);
  }
  .marquee-content li .landscape {
    height: 60vh;
    width: calc(60vh*4/3);
  }
  
  
  
  .marquee-content:hover {
    /* animation-play-state:paused; */
  }
  
  @keyframes scrolling {
    0% {
      transform: translateX(0vw);
    }
    100% {
      transform: translateX(-353vw);
    }
  }
  
  .marquee-content li {
    /* border: 3px solid #ee563b; */
    width: 100vw;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    white-space: nowrap;
    margin: 1vw;
  }
  
  .marquee-content li .portrait {
    width: 40vh;
  }
  .marquee-content li .landscape {
    width: 80vh;
  }
}

/* At 850PX */

@media(max-width: 850px) {
  .submenu {
    display: none;
  }

  h1 {
    font-size: 5.4rem;
    margin-bottom: 4rem;
  }
  
  h2 {
    font-size: 4.5rem;
  }
  
  h3 {
    font-size: 3.8rem;
    padding-bottom: 4rem;
  }
  
  h4 {
    font-size: 2.6rem;
    font-weight: 200;
  }
  
  h5 {
    font-size: 2.5rem;
    font-weight: 500;
  }
  
  h6 {
    font-size: 1.6rem;
    font-weight: 300;
  }
  
  p {
    font-weight: 200;
    font-size: 2rem;
    line-height: 1.9;
  }

  /* Buttons */

  .nav-btn {
    text-decoration: none;
    color: var(--primary-color);
    opacity: 0.9;
    padding: 0px;
    font-size: 3rem;
    margin: 2rem 4rem;
  }

  .nav-btn-active {
    text-decoration: none;
    color: var(--primary-color);
    opacity: 0.7;
    padding: 0px;
    font-size: 3rem;
    margin: 2rem 4rem;
  }

  .nav-btn:hover {
    text-decoration: none;
    color: var(--primary-color);
    padding: 0px;
    font-size: 30px;
    text-decoration: underline;
    margin: 2rem 4rem;
  }

  .nav-btn-light {
    text-decoration: none;
    color: var(--light-background);
    opacity: 0.9;
    padding: 0px;
    font-size: 30px;
    margin: 2rem 4rem;
  }

  .nav-btn-light-active {
    text-decoration: none;
    color: var(--light-background);
    opacity: 0.7;
    padding: 0px;
    font-size: 30px;
    margin: 2rem 4rem;
  }

  .cta-btn {
    display: inline-block;
    font-size: 36px;
    text-decoration: none;
    color: var(--primary-color);
    padding: 5px 10px;
    border: solid var(--primary-color) 4px;
    margin: 80px 0px;
    background: linear-gradient(to left, transparent 50%, var(--primary-color) 50%) right;
    background-size: 200%;
    transition: .4s ease-in-out;
  }

  .cta-btn:hover {
    display: inline-block;
    font-size: 36px;
    color: var(--light-background);
    text-decoration: none;
    padding: 5px 10px;
    border: solid var(--primary-color) 4px;
    margin: 80px 0px;
    background-position: left;
    /* animation: cta-btn-hover 3s forwards ease-in-out; */
  }

  /* @keyframes cta-btn-hover {
    0% {
    }

    100% {
      color: var(--light-background);
      background: linear-gradient(to right, #111111 50%, #fff 50%);
      text-decoration: none;
      border: 3px var(--primary-color) solid;
    }
  } */

  .cta-btn-underlined {
    display: inline-block;
    font-size: 36px;
    text-decoration: underline;
    color: var(--primary-color);
    padding: 5px 10px;
    border: none;
    margin: 40px 0px;
  }

  .cta-btn-underlined:hover {
    display: inline-block;
    font-size: 36px;
    padding: 5px 10px;
    border: none;
    margin: 40px 0px;
    animation: cta-btn-underlined 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }

  @keyframes cta-btn-underlined {
    100% {
      background: var(--primary-color);
      color: var(--light-background);
      opacity: 1;
      
    }
  }

  .cta-btn-underlined-dark {
    display: inline-block;
    font-size: 36px;
    text-decoration: underline;
    color: var(--light-background);
    padding: 5px 10px;
    border: none;
    margin: 40px 0px;
    background: linear-gradient(to left, transparent 50%, var(--light-background) 50%) right;
    background-size: 200%;
    transition: .4s ease-in-out;
  }

  .cta-btn-underlined-dark:hover {
    display: inline-block;
    font-size: 36px;
    padding: 5px 10px;
    border: none;
    margin: 40px 0px;
    color: var(--primary-color);
    background-position: left;
  }

  .bold-link {
    text-decoration: none;
    font-size: 36px;
    color: #111111;
    padding: 5px 10px;
  }

  .normal-icon {
    max-width: 55px;
  }

  .small-icon {
    height: 48px;
  }

  /* Inputs & Forms */

  .form-light input, textarea {
    border: var(--primary-color) solid 3px;
    font-size: 3rem;
    display: inline-block;
    padding: 1.5rem;
    width: 100%;
  }

  .form-light input, textarea:focus {
    border: var(--primary-color) solid 3px;
    font-size: 3rem;
    display: inline-block;
    padding: 1.5rem;
    width: 100%;
  }

  .form-light label {
    font-size: 3rem;
    display: inline-block;
    padding: 1.5rem;
  }

}

/* TABLET 768px */



/* Utilities & Hamburger */

@media(max-width: 768px) {

  .mobile-off {
    display: none;
  }

  .mobile-menu-wrap {
    display: inline-block;
    top: 4rem;
    right: 4rem;
    z-index: 1;
  }

  .mobile-menu-wrap .toggler {
    position: absolute;
    top: 4rem;
    right: 4rem;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }

  .mobile-menu-wrap .hamburger {
    position: absolute;
    top: 4rem;
    right: 4rem;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media(max-width: 768px) {
  .contact-form {
    display: grid;
    grid-template-areas: 
      'contact-form-header'
      'full-name-field'
      'email-field'
      'message'
      'submit-button';
    width: 100%;
    padding: 4rem;
    margin-top: 6rem;
    grid-gap: 3rem;
  }
}

@media(max-width: 768px) {
  #footer {
    display: grid;
    grid-template-areas: 
      'socials socials'
      'bold-p bold-p';
    width: 100%;
    padding: 4rem;
    margin-top: 6rem;
    text-align: center;
  }

  .socials {
    grid-area: socials;
    align-items: center;
    text-align: center;
  }

  .bold-p {
    grid-area: bold-p;
    font-size: 1.6rem;
  }
}

/* Home */

@media(max-width: 768px) {




  #prints-promo {

  }
}

/* About */

@media(max-width: 768px) {
  .contact-form {
    display: grid;
    grid-template-areas: 
      'contact-form-header'
      'full-name-field'
      'email-field'
      'message'
      'submit-button';
    width: 100%;
    padding: 4rem;
    margin-top: 6rem;
    grid-gap: 3rem;
  }
}



/* MOBILE */

/* Mobile Utilities */

/* At 850PX */

@media(max-width: 650px) {
  .submenu {
    display: none;
  }

  h1 {
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  h3 {
    font-size: 1.9rem;
    padding-bottom: 2rem;
  }
  
  h4 {
    font-size: 1.8rem;
    font-weight: 200;
  }
  
  h5 {
    font-size: 1.7rem;
    font-weight: 500;
  }
  
  h6 {
    font-size: 1.2rem;
    font-weight: 300;
  }
  
  p {
    font-weight: 200;
    font-size: 1.6rem;
    line-height: 1.9;
  }

  /* Buttons */

  .nav-btn {
    text-decoration: none;
    color: var(--primary-color);
    opacity: 0.9;
    padding: 0px;
    font-size: 1.7rem;
    margin-left: 2rem;
  }

  .nav-btn-active {
    text-decoration: none;
    color: var(--primary-color);
    opacity: 0.7;
    padding: 0px;
    font-size: 1.7rem;
  }

  .nav-btn:hover {
    text-decoration: none;
    color: var(--primary-color);
    padding: 0px;
    font-size: 1.7rem;
    text-decoration: underline;
  }

  .nav-btn-light {
    text-decoration: none;
    color: var(--light-background);
    opacity: 0.9;
    padding: 0px;
    font-size: 1.7rem;
  }

  .nav-btn-light-active {
    text-decoration: none;
    color: var(--light-background);
    opacity: 0.7;
    padding: 0px;
    font-size: 1.7rem;
  }

  .cta-btn {
    display: inline-block;
    font-size: 1.7rem;
    text-decoration: none;
    color: var(--primary-color);
    padding: 5px 10px;
    border: solid var(--primary-color) 2px;
    margin: 20px 0px;
    background: linear-gradient(to left, transparent 50%, var(--primary-color) 50%) right;
    background-size: 200%;
    transition: .4s ease-in-out;
  }

  .cta-btn:hover {
    display: inline-block;
    font-size: 1.7rem;
    color: var(--light-background);
    text-decoration: none;
    padding: 5px 10px;
    border: solid var(--primary-color) 2px;
    margin: 20px 0px;
    background-position: left;
    /* animation: cta-btn-hover 3s forwards ease-in-out; */
  }

  /* @keyframes cta-btn-hover {
    0% {
    }

    100% {
      color: var(--light-background);
      background: linear-gradient(to right, #111111 50%, #fff 50%);
      text-decoration: none;
      border: 3px var(--primary-color) solid;
    }
  } */

  .cta-btn-underlined {
    display: inline-block;
    font-size: 1.7rem;
    text-decoration: underline;
    color: var(--primary-color);
    padding: 5px 10px;
    border: none;
    margin: 40px 0px;
  }

  .cta-btn-underlined:hover {
    display: inline-block;
    font-size: 1.7rem;
    padding: 5px 10px;
    border: none;
    margin: 40px 0px;
    animation: cta-btn-underlined 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }

  @keyframes cta-btn-underlined {
    100% {
      background: var(--primary-color);
      color: #FDFDFD;
      opacity: 1;
      
    }
  }

  .cta-btn-underlined-dark {
    display: inline-block;
    font-size: 1.7rem;
    text-decoration: underline;
    color: var(--light-background);
    padding: 5px 10px;
    border: none;
    margin: 40px 0px;
    background: linear-gradient(to left, transparent 50%, var(--light-background) 50%) right;
    background-size: 200%;
    transition: .4s ease-in-out;
  }

  .cta-btn-underlined-dark:hover {
    display: inline-block;
    font-size: 1.7rem;
    padding: 5px 10px;
    border: none;
    margin: 40px 0px;
    color: var(--primary-color);
    background-position: left;
  }

  .bold-link {
    text-decoration: none;
    font-size: 1.7rem;
    color: #111111;
    padding: 5px 10px;
  }

  nav li img {
    width: 50px !important;
    display: inline;
  }

  .hero-nav li img {
    max-width: 5rem; 
  }

  .test {
    width: 50px;
  }

  /* Inputs & Forms */

  .form-light input, textarea {
    border: var(--primary-color) solid 3px;
    font-size: 1.8rem;
    display: inline-block;
    padding: 1.5rem;
    width: 100%;
  }

  .form-light input, textarea:focus {
    border: var(--primary-color) solid 3px;
    font-size: 1.8rem;
    display: inline-block;
    padding: 1.5rem;
    width: 100%;
  }

  .form-light label {
    font-size: 1.8rem;
    display: inline-block;
    padding: 1.5rem;
  }

  /* Store */

  .store-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto-fit), minmax(250px, 1fr);
    grid-gap: 4rem;
    padding: 2rem;
    justify-content: center;
  }
  
  .product-tile {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    /* background: chartreuse; */
  }
  
  .image-box {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .print-hover-overlay {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(17, 17, 17, 0.4);
    color: var(--light-background);
    visibility: hidden;
    opacity: 0;
    text-align: center;
    justify-content: center;
  }
  
  .print-hover-overlay a {
    text-decoration: none;
    color: var(--light-background);
    font-size: 3rem;
    font-weight: 500;
  }
  
  .image-box:hover .print-hover-overlay {
    visibility: visible;
    opacity: 1;
  }
  
  .hover-title {
    font-size: 25px;
    font-weight: 200;
  }
  
  .product-tile img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .store-category {
    padding: 0rem 2rem;
    display: block;
  }

  .store-divider {
    width: 25rem;
    height: 3rem;
    padding-top: 0px;
    border: none;
    background: #111111;
  }

  /* Contact Form */

  .contact-form-header {
    grid-area: contact-form-header;
    font-size: 1.8rem;
  }
  
  .full-name-field {
    grid-area: full-name-field;
    font-size: 1.8rem;
  }
  
  .email-field {
    grid-area: email-field;
    font-size: 1.8rem;
  }
  
  .message {
    grid-area: message;
    font-size: 1.8rem;
    width: 100%;
  
  }
  
  .submit-button {
    grid-area: submit-button;
    font-size: 1.8rem;
    color: var(--primary-color);
    background: var(--light-background);
    border: var(--primary-color) 3px solid;
    width: 50%;
    justify-self: center;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background: var(--primary-color);
    color: var(--light-background);
    border: var(--primary-color) 1.8px solid;
  }

  /* HAMBURGER MENU */

  .mobile-menu-wrap {
    /* display: none; */
    top: 0;
    right: 0;
    z-index: 1;
  }

  .mobile-menu-wrap .toggler {
    position: absolute;
    top: 2rem;
    right: 4rem;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }

  .mobile-menu-wrap .hamburger {
    position: absolute;
    top: 2rem;
    right: 4rem;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  /* Hamburger Line */

  .mobile-menu-wrap .hamburger>div {
    position: relative;
    flex: none;
    width: 100%;
    height: 3px;
    background: var(--primary-color);
    display: flex;
    /* border-radius: 50%; */
    /* flex: none; */
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }

  /* Hamburger Top and Bottom lines */

  .mobile-menu-wrap .hamburger>div::before,
  .mobile-menu-wrap .hamburger>div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 3px;
    background: inherit;
  }

  .mobile-menu-wrap .hamburger>div::after {
    top: 10px;
  }

  /* Toggler Animation */

  .mobile-menu-wrap .toggler:checked+.hamburger>div {
    transform: rotate(135deg);
    background: var(--light-background);
  }

  /* This turns lines into X */

  .mobile-menu-wrap .toggler:checked+.hamburger>div:before,
  .mobile-menu-wrap .toggler:checked+.hamburger>div:after {
    top: 0;
    transform: rotate(90deg);
    background: inherit;
  }

  /* rotate on hover when checked */

  .mobile-menu-wrap .toggler:checked:hover+.hamburger>div {
    transform: rotate(225deg);
  }

  /* To show the menu when toggler checked */

  .mobile-menu-wrap .toggler:checked~.mobile-menu {
    visibility: visible;
  }

  .mobile-menu-wrap .toggler:checked~.mobile-menu>div {
    transform: scale(1);
    transition-duration: 0.75s;
  }

  .mobile-menu-wrap .toggler:checked~.mobile-menu>div>div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
  }

  .mobile-menu-wrap .mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobile-menu-wrap .mobile-menu>div {
    background: rgba(17, 17, 17, .96);
    width: 500vw;
    height: 500vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }

  .mobile-menu-wrap .mobile-menu>div>div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vw;
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  .mobile-menu-wrap .mobile-menu>div>div>ul {
    display: flex;
    flex-direction: column;
    line-height: 2;
  }

  .mobile-menu-wrap .mobile-menu>div>div>ul>li {
    list-style: none;
    color: #FDFDFD;
  }

  .mobile-menu-wrap .mobile-menu>div>div>ul>li a {
    list-style: none;
    color: #FDFDFD;
    font-size: 2rem;
    text-decoration: none;
    transition: color 0.4s ease;
  }

  .mobile-menu-wrap .mobile-menu>div>div>ul>li>a:hover {
    color: var(--accent-color);
  }

}