/* PRINT LAYOUT */

#print-gallery-river-1 {
  display: flex;
  flex-direction: row;
  width: 100vw;
  padding-left: 175px;
  padding-right: 125px;
  position: relative;
  margin-top: 10vh;
}

.print-gallery-river-regular {
  display: flex;
  flex-direction: row;
  width: 100vw;
  padding-left: 175px;
  padding-right: 125px;
  position: relative;
  margin-top: 65vh;
}

.print-gallery-river-regular:last-of-type {
  display: flex;
  flex-direction: row;
  width: 100vw;
  padding-left: 175px;
  padding-right: 125px;
  position: relative;
  margin-top: 65vh;
  margin-bottom: 10vh;
}

#print-gallery-river-1:last-child {
  align-items: right;
  justify-content: flex-end;
  text-align: right;
}

.picture-frame-portrait {
  height: 675px;
  width: 451px;
  /* box-shadow: inset 0 0 40px 5px var(--tertiary-action-color); */
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 10px 0px inset;
  background: var(--light-background);
  position: relative;
}

.picture-frame-landscape {
  width: 675px;
  height: 451px;
  /* box-shadow: inset 0 0 40px 5px var(--tertiary-action-color); */
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 10px 0px inset;
  background: var(--light-background);
  position: relative;
}

/* PORTRAIT SIZING */

.portrait-print {
  height: 675px;
  width: 451px;
  overflow: hidden;
  position: absolute;
}

.portrait-print img {
  height: 675px;
  width: 451px;
  overflow: hidden;
  position: absolute;
  object-position: center;
  object-fit: cover;
}

.portrait-print:hover {
  transition: ease-in .3s;
  transform: scale(.85);
  transform-origin: center;
  transition-timing-function: linear;
}
.portrait-print:not(:hover) {
  transition: ease-out .3s;
}

/* LANDSCAPE SIZING */

.landscape-print {
  width: 675px;
  height: 451px;
  overflow: hidden;
  position: absolute;
}
.landscape-print img {
  width: 675px;
  height: 451px;
  overflow: hidden;
  position: absolute;
  object-position: center;
  object-fit: cover;
}

.landscape-print:hover {
  transition: ease-in .3s;
  transform: scale(.85);
  transform-origin: center;
  transition-timing-function: linear;
}
.landscape-print:not(:hover) {
  transition: ease-out .3s;
}


.picture-info {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  vertical-align: text-bottom;
  padding-left: 4rem;
}

.picture-info-wrapper {
  vertical-align: text-bottom;
  justify-content: flex-end;
  align-self: end;
  align-items: bottom;
}

.image-shout-icon {
  display: flex;
  border: var(--primary-color) 3px solid;
  z-index: 2;
  color: var(--primary-color);
  padding: .2rem;
  font-weight: 500;
  font-size: 1.6rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  width: 60px;
  height: 40px;
}

.image-shout-icon-paintings {
  display: flex;
  border: var(--primary-color) 3px solid;
  z-index: 2;
  color: var(--primary-color);
  padding: .2rem;
  font-weight: 500;
  font-size: 1.6rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  width: 80px;
  height: 40px;
}

.picture-info h6 {
  font-weight: 600;
}

.right-side-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  right: 125px;
  height: 100%;
}

.right-side-info svg {
  justify-content: flex-end;
  vertical-align: bottom;
}

.bold-number {
  font-size: 2rem;
  font-weight: 800;
}

.year-and-price a {
  font-size: 1.6rem;
  color: var(--primary-color);
  text-decoration: underline var(--primary-color);
}

.year-and-price svg {
  margin: 0 1rem;
}
/* .year-and-price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  vertical-align: center;
} */

.year-and-price {
  display: flex;
  flex-direction: row;
  display: -webkit-flex; /* Safari */  
  display: flex;
  -webkit-align-items: center; /* Safari 7.0+ */
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-top: 1rem;
}

.mobile-counter {
  display: none;
}


/* 1200PX */

@media screen and (min-width:992px) and (max-width: 1200px) {
  #print-gallery-river-1 {
    display: flex;
    flex-direction: row;
    width: 100vw;
    margin: auto;
    position: relative;
    margin-top: 10vh;
  }
  
  .print-gallery-river-regular {
    display: flex;
    flex-direction: row;
    width: 100vw;
    margin: auto;
    position: relative;
    margin-top: 65vh;
  }

  .print-gallery-river-regular:last-of-type {
    display: flex;
    flex-direction: row;
    width: 100vw;
    margin: auto;
    position: relative;
    margin-top: 65vh;
    margin-bottom: 10vh;
  }

  .right-side-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    right: 4rem;
    height: 100%;
  }
}

/* 992PX */

@media screen and (min-width: 768px) and (max-width: 992px) {

  #print-gallery-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100vw;
  }

  #print-gallery-river-1 {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100vw;
    margin: auto;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    margin-top: 10vh;
    align-items: center;
    justify-content: center;
  }
  
  .print-gallery-river-regular {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100vw;
    margin: auto;
    padding-left: none;
    padding-right: none;
    position: relative;
    margin-top: 65vh;
    align-items: center;
    justify-content: center;
  }

  .print-gallery-river-regular:last-of-type {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100vw;
    margin: auto;
    position: relative;
    margin-top: 65vh;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vh;
  }

  /* LANDSCAPE SIZING */

  .landscape-print {
    width: 80vw;
    height: auto;
    overflow: visible;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .landscape-print img {
    width: 80vw;
    height: auto;
    overflow: visible;
    position: absolute;
    object-position: center;
    object-fit: cover;
  }

  .picture-frame-landscape {
    width: 80vw;
    height: calc(80vw*0.668);
    /* box-shadow: inset 0 0 40px 5px var(--tertiary-action-color); */
    box-shadow: rgb(0 0 0 / 15%) 0px 0px 10px 0px inset;
    background: var(--light-background);
    position: relative;
  }

  /* PORTRAIT SIZING */

  .portrait-print {
    height: auto;
    width: 60vw;
    overflow: visible;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .portrait-print img {
    height: auto;
    width: 60vw;
    overflow: visible;
    position: absolute;
    object-position: center;
    object-fit: cover;
  }

  .picture-frame-portrait {
    height: calc(60vw*1.498);
    width: 60vw;
    /* box-shadow: inset 0 0 40px 5px var(--tertiary-action-color); */
    box-shadow: rgb(0 0 0 / 15%) 0px 0px 10px 0px inset;
    background: var(--light-background);
    position: relative;
  }

  .picture-info {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    vertical-align: text-bottom;
    padding-left: 0;
    margin-left: 10vw;
  }

  .right-side-info {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    right: 4rem;
    height: 20%;
  }
  
  .right-side-info svg {
    display: none;
  }
  
  .right-side-info p {
    justify-content: flex-end;
    vertical-align: bottom;
  }

  .mobile-counter {
    display: block;
    text-align: right;
    align-self: right;
  }
}

/* 768PX */

@media screen and (max-width: 768px) {
  #print-gallery-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100vw;
  }

  #print-gallery-river-1 {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100vw;
    margin: auto;
    padding: 0;
    position: relative;
    margin-top: 10vh;
    align-items: center;
    justify-content: center;
  }
  
  .print-gallery-river-regular {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100vw;
    margin: auto;
    padding: 0;
    position: relative;
    margin-top: 65vh;
    align-items: center;
    justify-content: center;
  }

  .print-gallery-river-regular:last-of-type {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100vw;
    margin: auto;
    padding: 0;
    position: relative;
    margin-top: 65vh;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vh;
  }

  /* LANDSCAPE SIZING */

  .landscape-print {
    width: 90vw;
    height: auto;
    overflow: visible;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .landscape-print img {
    width: 90vw;
    height: auto;
    overflow: visible;
    position: absolute;
    object-position: center;
    object-fit: cover;
  }

  .picture-frame-landscape {
    width: 90vw;
    height: calc(90vw*0.668);
    /* box-shadow: inset 0 0 40px 5px var(--tertiary-action-color); */
    box-shadow: rgb(0 0 0 / 15%) 0px 0px 10px 0px inset;
    background: var(--light-background);
    position: relative;
  }

  /* PORTRAIT SIZING */

  .portrait-print {
    height: auto;
    width: 80vw;
    overflow: visible;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .portrait-print img {
    height: auto;
    width: 80vw;
    overflow: visible;
    position: absolute;
    object-position: center;
    object-fit: cover;
  }

  .picture-frame-portrait {
    height: calc(80vw*1.498);
    width: 80vw;
    /* box-shadow: inset 0 0 40px 5px var(--tertiary-action-color); */
    box-shadow: rgb(0 0 0 / 15%) 0px 0px 10px 0px inset;
    background: var(--light-background);
    position: relative;
  }

  .picture-info {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    vertical-align: text-bottom;
    padding-left: 0;
    margin-left: 10vw;
  }

  .right-side-info {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 20%;
  }
  
  .right-side-info svg {
    display: none;
  }
  
  .right-side-info p {
    justify-content: flex-end;
    vertical-align: bottom;
  }

  .mobile-counter {
    display: block;
    text-align: right;
    align-self: right;
  }
}


