/* @font-face {
  font-family: "BasierSquareMonoBold";
  src: url("/BasierMono/basiersquaremono-bold-webfont.woff") format("woff"),
  url("/BasierMono/basiersquaremono-bold-webfont.woff2") format("woff2"),;
  }

  @font-face {
  font-family: "BasierSquareMedium";
  src: url("/BasierMono/basiersquaremono-medium-webfont.woff") format("woff"),
  url("/BasierMono/basiersquaremono-medium-webfont.woff2") format("woff2"),;
  }

  @font-face {
  font-family: "BasierSquareRegular";
  src: url("/BasierMono/basiersquaremono-regular-webfont.woff") format("woff"),
  url("/BasierMono/basiersquaremono-regular-webfont.woff2") format("woff2"),;
  }
 
  @font-face {
  font-family: "BasierSquareSemiBold";
  src: url("/BasierMono/basiersquaremono-semibold-webfont.woff") format("woff"),
  url("/BasierMono/basiersquaremono-semibold-webfont.woff2") format("woff2"),;
  } */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

/* CUSTOM PROPERTIES */

:root {
  --marquee-landscape-width: 60vw;
  --marquee-portrait-width: 25vw;
  --marquee-height: 40vh;
  --marquee-elements: 9;
  --marquee-elements-displacement-x: (calc(calc(var(--marquee-portrait-width) * -6) - calc(var(--marquee-landscape-width) * 3) - calc(2vw * 9)));
  --marquee-element-width: calc(var(--marquee-width)/var(--marquee-elements-displayed));
  --marquee-animation-duration: 30s;
  --product-area-tile-height: 1fr; 
  --product-area-tile-image-margin-bottom: 2rem; 
}

html[data-theme="dark"] {
  --primary-color: #F7F7F7;
  --light-background: #0B0B0B;
  --dark-background: #0B0B0B;
  --home-page-dark-background: #0B0B0B;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  --primary-color: #252525;
  --atiq-red: #C04F43;
  --atiq-blue: #64A5A9;
  --light-background: #F7F7F7;
  --dark-background: #0B0B0B;
  --accent-color: #EF5C4E;
  --secondary-action-color: #CC4240;
  --tertiary-action-color: #3D878A;
  --grounding-color-redish: #E3D8DB;
  --ground-color-sandish: #E7E2CE;
  --home-page-dark-background: transparent;
}

body {
  background: var(--light-background);
  overflow-x: hidden;
  position: relative;
  background: var(--light-background);
  color: var(--primary-color);
  font-family: 'Roboto', serif;
}

@media screen and (prefers-color-scheme: light) {
  body {
    background: var(--primary-color);
    color: var(--light-background);
  }
}

#logo {
  display: grid;
  place-items: center;
}

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
} */


/* UTILITY CLASSES */


h1 {
  font-size: calc(4.5vw + 1rem);
  /* WAS 9REM */
  font-family: 300;
}

h2 {
  font-size: calc(5vw + 2rem);
  font-weight: 400;
}

h3 {
  font-size: calc(2.25vw + 1rem);
  margin-bottom: .8em;
}

h4 {
  font-size: calc(1.5vw + 1rem);
  font-weight: 200;
}

h5 {
  font-size: calc(1vw + 2rem);
  font-weight: 500;
}

h6 {
  /* font-size: 2rem; */
  font-size: calc(.5vw + 1.6rem);
  font-weight: 600;
}

p {
  font-weight: 200;
  /* font-size: 1.6rem; */
  font-size: calc(.15vw + 1.6rem);
  line-height: 2.5em;
}

.bold-p {
  font-weight: 800;
  font-size: 1.4rem;
}

.unbold-300 {
  font-weight: 300;
  font-size: calc(.5vw + 1.6rem);
}

.font-weight-medium {
  font-weight: 500 !important;
}

.highlight {
  color: var(--accent-color) !important;
  font-weight: 800 !important;
}

.dark-mode {
  background: var(--dark-background) !important;
  color: var(--light-background) !important;
}

.footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 40px;
  align-items: center;
  /* gap: 2rem; */
  justify-content: space-between;
}

.footer a {
  font-size: 1.4rem;
  font-weight: 300;
  /* color: var(--primary-color); */
  color: inherit;
  text-decoration: none;
  /* margin-right: 2em; */
  transition: 400ms;
}

.footer p {
  font-size: 1.4rem;
}

.footer a:first-of-type {
  text-decoration: none;
  margin-right: 2em;
}

.footer a:hover {
  font-weight: 400;
  transition: all 400ms ease-in-out;
}

.socials {
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: flex-end;
  right: 4rem;
  gap: 3rem;
}

.bg-light {
  background: var(--light-background);
  color: var(--primary-color);
}

.bg-dark {
  background: var(--primary-color);
  color: var(--light-background);
}

.bg-dark-transparent {
  background: transparent;
  color: var(--light-background);
}

.thin-divider {
  width: 90vw;
  height: 2px;
  background: var(--primary-color);
  opacity: 0.2;
  margin: 4vh 0;
  border-radius: 2px;
}

.thin-divider-container {
  width: 100vw;
  height: 2px;
  display: flex;
  justify-content: center;
}

/* Buttons */

.nav-btn-icon {
  text-decoration: none;
  position: relative;
  /* color: var(--primary-color); */
  color: inherit;
  opacity: 0.9;
  padding: 5px 0;
  margin-right: 4rem;
}

.nav-btn-icon:hover {
  opacity: 0.8;
}
.nav-btn {
  text-decoration: none;
  position: relative;
  /* color: var(--primary-color); */
  color: inherit;
  opacity: 0.9;
  /* font-size: 1.6rem; */
  font-size: calc(.15vw + 1.4rem);
  padding: 5px 0;
  margin: 2rem 4rem;
  font-weight: 300;
}
.nav-btn::after {
  content: "";
  position: absolute;
  background: var(--primary-color);
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 400ms ease-in;
}
.nav-btn:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.nav-btn-active {
  text-decoration: none;
  color: var(--primary-color);
  opacity: 0.7;
  padding: 0px;
  font-size: 2rem;
  padding: 0.5rem 0;
  margin: 2rem 4rem;
}

/* .nav-btn:hover {
  text-decoration: none;
  color: var(--primary-color);
  padding: 0px;
  font-size: 30px;
  text-decoration: underline;
  padding: 2rem 4rem;
} */

.nav-btn-light {
  text-decoration: none;
  position: relative;
  color: var(--light-background);
  opacity: 0.9;
  font-size: calc(.15vw + 1.4rem);
  padding: 5px 0;
  margin: 2rem 4rem;
  font-weight: 300;
}

.nav-btn-light::after {
  content: "";
  position: absolute;
  background: var(--light-background);
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 400ms ease-in;
}
.nav-btn-light:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  opacity: 1;
}

.nav-btn-light-active {
  text-decoration: none;
  color: var(--light-background);
  opacity: 0.7;
  padding: 0px;
  font-size: calc(.15vw + 1.4rem);
  margin: 2rem 4rem;
}

.nav-bar-cta {
  margin-left: auto;
}

.cta-btn {
  /* font-size: 3.2rem; */
  font-size: calc(.75vw + 1.6rem);
  font-weight: 300;
  text-decoration: none;
  text-align: center;
  /* color: var(--primary-color); */
  color: inherit;
  padding: 2.2rem 7rem;
  outline: solid var(--primary-color) 3px;
  margin: 4rem 4rem;
  background: linear-gradient(to left, transparent 50%, var(--primary-color) 50%) right;
  background-size: 200%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  transition: .7s ease-in-out;
}

.cta-btn:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-background);
  text-decoration: none;
  padding: 22px 70px;
  outline: solid var(--primary-color) 3px;
  margin: 4rem;
  background-position: left;
  /* animation: cta-btn-hover 3s forwards ease-in-out; */
}

.cta-btn-light {
  /* font-size: 3.2rem; */
  font-size: calc(.8vw + 1rem);
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  color: var(--light-background);
  padding: 2.2rem 7rem;
  outline: solid var(--light-background) 3px;
  padding: .25em .5em;
  margin-left: auto;
  width: 10vw;
  background: linear-gradient(to left, transparent 50%, var(--light-background) 50%) right;
  background-size: 200%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  transition: .7s ease-in-out;
}

.cta-btn-light:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  text-decoration: none;
  outline: solid var(--light-background) 3px;
  background-position: left;
  /* animation: cta-btn-hover 3s forwards ease-in-out; */
}

/* @keyframes cta-btn-hover {
  0% {
  }

  100% {
    color: var(--light-background);
    background: linear-gradient(to right, #111111 50%, #fff 50%);
    text-decoration: none;
    border: 3px var(--primary-color) solid;
  }
} */

.cta-btn-underlined {
  display: inline-block;
  /* font-size: 36px; */
  font-size: calc(0.5vw + 1rem);
  text-decoration: none;
  /* color: var(--primary-color); */
  color: inherit;
  padding: 5px 0px;
  border: none;
  margin: 40px 0px;
  position: relative;
}

.cta-btn-underlined::before {
  position: absolute;
  content: " ";
  bottom: 0px;
  left: 0px;
  height: 2px;
  width: 100%;
  transform-origin: right;
  transform: scaleX(1);
  transition: transform 300ms ease-in;
  background: var(--primary-color);
}

.cta-btn-underlined:hover::before {
  /* animation: cta-btn-underlined 800ms forwards; */
  transform: scaleX(0);
  transform-origin: right;
}

.cta-btn-underlined::after {
  position: absolute;
  content: " ";
  bottom: 0px;
  left: 0px;
  height: 2px;
  width: 100%;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 300ms ease-in 200ms;
  background: var(--primary-color);
}

.cta-btn-underlined:hover::after {
  /* animation: cta-btn-underlined 200ms forwards; */
  transform: scaleX(1);
  transform-origin: left;
  transition-timing-function: ease-in;
}


@keyframes cta-btn-underlined {

  0% {
    transform: scaleX(1);
    transform-origin: left;
  }


  50% {
    transform: scaleX(0);
    transform-origin: right;
  }

  /* 52% {
    opacity: 0;
  }

  75% {
    transform: scaleX(0);
  } */
  100% {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;

    
  }
}

.cta-btn-underlined-dark {
  display: inline-block;
  font-size: 36px;
  /* text-decoration: underline; */
  color: var(--light-background);
  padding: 5px 10px;
  border: none;
  margin: 40px 0px;
  background: linear-gradient(to left, transparent 50%, var(--light-background) 50%) right;
  background-size: 200%;
  transition: .4s ease-in-out;
}

.cta-btn-underlined-dark:hover {
  display: inline-block;
  font-size: 36px;
  padding: 5px 10px;
  border: none;
  margin: 4rem 0px;
  color: var(--primary-color);
  background-position: left;
}

.small-link {
  font-size: calc(.15vw + 1rem);
  text-decoration: none;
  font-weight: 300;
  /* color: var(--primary-color); */
  color: inherit;
}
.small-link:hover {
  font-weight: 500;
  color: var(--primary-color);
}

.bold-link {
  text-decoration: none;
  font-size: 36px;
  color: #111111;
  padding: 5px 10px;
}

.normal-icon {
  max-width: 55px;
}

.small-icon {
  height: 48px;
}

/* Inputs & Forms */

.form-light input, textarea {
  border: none;
  border-bottom: var(--primary-color) solid 2px;
  /* border: none; */
  font-size: 3rem;
  display: inline-block;
  padding: 1.5rem;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  /* background: rgba(247, 247, 247, 0.8); */
  background: none;
}
.form-light input:focus, textarea:focus {
  /* border: rgba(255, 103, 77, 0.8) solid 3px; */
  border: none;
  border-bottom: rgba(255, 103, 77, 0.8) solid 2px;
  outline: none;
  /* outline:  rgba(255, 103, 77, 0.8) solid 3px; */
}

.form-light label {
  font-size: 3rem;
  display: inline-block;
  padding: 1.5rem;
}

/* Layouts */

.grid-two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.flex-single-column-middle {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10em auto;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.flex-single-column-left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 8rem 4rem;
  align-items: left;
  text-align: left;
  justify-content: left;
}

.underline {
  width: inherit;
  height: 2px;
  background: var(--light-background);
  opacity: 0.5;
}

/* PRELOADER */

#loadingScreen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 3;

  background: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 2s ease-out;
  /* text-align: center; */
}

#loadProgress {
  /* width: 100vw; */
  height: 3px;
  background: var(--light-background);
  margin-top: 4vh;
  opacity: 1;
  transition: width 5s ease;
}

/* SHOWCASE & NAVBAR */

.hero-nav {
  padding: 4rem 4rem;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  width: 100%;
  /* animation: slideDown 800ms ease-in-out forwards; */
  /* height: 15vh; */
}

.flex-row {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  width: 100%;
}

.hero-nav ul {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  list-style: none;
  vertical-align: middle;
}

.hero-nav li {
  display: inline-block;
  /* vertical-align: middle; */
  padding: 0;
}

.hero-nav li img {
  /* max-width: 55px; */
  max-width: calc(1.8vw + 2.5rem);
  display: inline;
  vertical-align: middle;
  align-items: center;
  padding-bottom: 5px;
}

.regular-nav li img {
  max-width: 55px;
  display: inline;
  vertical-align: middle;
  align-items: center;
  padding-bottom: 5px;
}


.flex-row li:last-of-type {
  margin-left: auto;
}

/* .flex-row li:nth-child(2) {
  margin-left: auto;
} */

.dark-mode-toggle {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(.15vw + 1.4rem);
  font-weight: 300;
  margin-left: auto;
  opacity: 0.5;
  transition: all 600ms;
}

.dark-mode-toggle:hover {
  opacity: 0.9;
  cursor: pointer;
  transition: all 600ms;
}

.dark-mode-toggle svg {
  width: 2em;
  margin-right: 1em;
  /* color: inherit; */
  
}

.dark-mode-background {
  width: inherit;
  height: inherit;
  z-index: 5;
  background: var(--home-page-dark-background);
}


input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	/* text-indent: -9999px; */
	/* width: 52px; */
	/* height: 27px; */
	/* background: var(--primary-color); */
  color: var(--primary-color);
  /* border: 2px var(--primary-color) solid; */
  
	float: right;
	border-radius: 100px;
	position: relative;
}

/* label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
} */

input:checked + label {
	/* background: var(--accent-color); */
  /* border: 2px var(--accent-color) solid; */
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 45px;
}

/* html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 300ms !important;
  transition-delay: 0 !important;
} */

/* .transition {
  transition: all 300ms !important;
  transition-delay: 0 !important;
} */

.toggle-container label {
  font-size: calc(.15vw + 1.4rem);
  font-weight: 600;
}

.showcase-container {
  display: grid;
  grid-template-rows: 14vh 71vh 14vh;
  height: 100vh;
  width: 100vw;
  /* background: url(/static/KOLOROK\ HERO\ IMAGE-min.png) center center/cover no-repeat; */
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.hero-background {
  height: 100vh;
  width: 100vw;
  background: url(/static/KOLOROK\ HERO\ IMAGE\ 1600px-min.jpg) top center/cover no-repeat;
  position: relative;
  filter: blur(calc(10px + 1vw));
  animation: blurReveal 10s both alternate infinite;
  animation-delay: 4s;
  /* filter: blur(38px); */
  /* overflow: hidden; */
}

@keyframes blurReveal {
  0% {
    filter: blur(calc(10px + 1vw));
  }

  100% {
    filter: blur(calc(0.1vw));
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fadeOut {
  animation: fadeOut 800ms ease-out;
}

/* .hero-image {
  grid-row: 1 / span 2;
  grid-column: 2;
  min-width: 100%;
  height: 100%;
  background: url(/static/IconsHeroImage_91kb_1191x795.jpg) center center/cover;
} */



.hero-content {
  display: flex;
  align-items: center;
  padding: 4em;
  text-overflow: wrap;
  font-family: 'Roboto Mono', monospace !important;
  letter-spacing: 8em;
  position: relative;
  /* color: rgb(37, 37, 37); */
  opacity: 1;
  /* animation: slideDown 800ms ease-in-out; */
}

.redcircle {
  position: absolute;
  background: var(--accent-color);
  top: 15%;
  right: 10%;
  border-radius: 50%;
  z-index: 5;
  color: #EF5C4E;
  width: calc(200px + 1vw);
  /* height: 20rem; */
  height: calc(200px + 1vw);
  /* filter: blur(55px); */
  filter: blur(calc(40px + 0.5vw));
}

.actions {
  display: flex;
  flex-direction: row;
  width: 100vw;
  position: relative;
  align-items: center;
  opacity: 1;
  /* animation: slideDown 800ms ease-in-out; */

}

.view-more-option {
  display: flex;
  position: absolute;
  right: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* gap: 4em; */
  margin: 0 4em;
}

/* ADDING UNTIL SAFARI SUPPORTS FLEX GAP */

.view-more-option svg {
  margin-left: 2em;
}

nav li svg {
  max-width: 6.5em;
  display: inline;
}



/* PRODUCT AREAS */

#product-areas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20vh;
  line-height: 800%;
  overflow: visible;
  opacity: 1;
}
#product-areas img {
  display: none;
}

#product-areas h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  opacity: 1;
}
#product-areas h3:hover {
  font-weight: 500;
  opacity: 1;
}

#product-areas h3:not(:hover) {
  opacity: 0.2 !important;
  transition: .5s ease-in-out;
}

/* PROJECT AREAS */

#project-areas-overview {
  display: flex;
  flex-direction: row-reverse;
  margin: 25vh 4rem;
  height: 75vh;
  width: 90vw;
}

.project-area-selectors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8rem;
  position: relative;
  min-width: 40vw;
}

.area {
  line-height: 4rem;
}

.area:hover {
  font-weight: 800;
}

.area > img {
  height: 800px;
  width: 550px;
}

#project-areas-overview h3 {
  margin-bottom: 2rem;
}

#project-areas-overview a {
  font-size: 2.1rem;
  font-weight: 100;
  /* color: var(--primary-color); */
  color: inherit;
  text-decoration: none;
  /* line-height: 2rem; */
}

#project-areas-overview a:hover {
  font-size: 2rem;
  font-weight: 800;
  /* color: var(--primary-color); */
  color: inherit;
  text-decoration: none;
}

.area-selector svg {
  margin: 1rem;
  opacity: 0;
}

.area-selector a:hover + svg {
  margin: 1rem;
  opacity: 1;
  transition: .5s ease-in-out;
}

.area-selector a:not(:hover) + svg {
  margin: 1rem;
  opacity: 0;
  transition: .5s ease-in-out;
}

.presentation-div-project-areas {
  position: relative;
  width: 100%;
}

.presentation-div-project-areas img {
  display: flex;
  flex-direction: column;
  height: 800px;
  width: 550px;
  visibility: visible;
}

.show:hover {
  visibility: visible;
  z-index: 10;
}

#area-selector:hover + img {
  opacity: 1;
  
}



#area-image-prints, #area-image-clothing, #area-image-handmades, #area-image-paintings, #area-image-digital-illustration {
  /* display: none; */
  visibility: visible;
  height: 100%;
  width: auto;
  position: absolute;
  right: 0;
  object-fit: cover;
}

#area-image-prints:not(:hover), #area-image-clothing:not(:hover), #area-image-handmades:not(:hover), #area-image-paintings:not(:hover), #area-image-digital-illustration {
  /* display: none; */
  visibility: visible;
  height: 100%;
  width: auto;
  position: absolute;
  right: 0;
  object-fit: cover;
}

.second-promo-content {
  cursor: crosshair, auto;
}

#area-image-prints {
  z-index: 6;
  opacity: 1;
}

#area-image-clothing {
  z-index: 5;
  opacity: 0;
  position: absolute;
  left: -600px;
  top: -40px;
}

.area-selector-clothing:hover + img {
  z-index: 7;
  opacity: 1;
}

#area-image-handmades {
  z-index: 4;
  opacity: 0;
}

#area-image-paintings {
  z-index: 3;
  opacity: 0;
}

#area-image-digital-illustration {
  z-index: 2;
  opacity: 0;
}

/* .area-selector-prints svg:not(:hover), .area-selector-clothing svg:not(:hover), .area-selector-handmades svg:not(:hover), .area-selector-paintings svg:not(:hover), .area-selector-digital-illustration svg:not(:hover) {
  opacity: 0;
} */

/* .area-selector-prints svg:hover, .area-selector-clothing svg:hover, .area-selector-handmades svg:hover, .area-selector-paintings svg:hover, .area-selector-digital-illustration svg:hover {
  opacity: 1;
} */

#area-image-prints {
  z-index: 10;
}

/* .area-selector-prints svg, .area-selector-clothing svg, .area-selector-handmades svg, .area-selector-paintings svg, .area-selector-digital-illustration svg {
  visibility: hidden;
} */


.area-selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}



/* SECOND PROMO */

/* #whats-new {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 4rem;
  margin: 8rem 4rem 0rem 4rem;
  align-items: center;
} */

.two-col-promo {
  height: auto;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  margin: 15vh 0;
}


.two-col-promo-image-right {
  height: auto;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  /* justify-content: space-around; */
  margin-bottom: 15vh;
}

.two-col-promo-content {
  text-align: left;
  align-items: left;
  /* vertical-align: middle; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 5vw 5vw;
  /* max-width: 80vw; */
  /* max-width: 50vw; */
  min-width: 350px;
  height: inherit;
  flex: 1;
}

.two-col-promo-images {
  /* width: 100%; */
  height: 100vh;
  width: 50%;
  display: flex;
  justify-content: left;
  align-items: left;
  text-align: left;
  /* min-height: 400px; */
  min-width: 350px;
  flex: 1;
}

.two-col-promo-image-container {
  height: 100%;
  min-height: 500px;
  width: 100%;
  overflow: hidden;
  
  position: relative;
}

.two-col-promo-image-container img:first-of-type {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: bottom;
  position: relative;
}

.two-col-promo-image-container img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: center;
  position: relative;
}

.about-badge {
  width: 5em;
  height: 2em;
  background: var(--primary-color);
  color: var(--light-background);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 0.3em;
  opacity: 0.7;
  margin: 2em 0;
  font-size: 1.4rem;
}

.about-promo-section {
  display: flex;
  flex-direction: column;
  max-width: 130ch;
  flex-wrap: wrap;
  word-wrap: wrap;
}

.about-promo-section p {
  word-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
}

.image-selector-left-image {
  position: absolute;
  bottom: 3em;
  left: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.image-selector-right-image {
  position: absolute;
  bottom: 3em;
  right: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.left-arrow-light, .right-arrow-light {
  height: 0;
  width: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
}

.left-arrow-light {
  border-right: 10px solid #F7F7F7;
  margin-right: 2em;
}

.right-arrow-light {
  border-left: 10px solid #F7F7F7;
}



.left-arrow, .right-arrow {
  height: 0;
  width: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
}

.left-arrow {
  border-right: 10px solid var(--primary-color);
  margin-right: 2em;
}

.right-arrow {
  border-left: 10px solid var(--primary-color);
}

.promo-image-container-1 {
  grid-column: 4 / span 5;
  grid-row: 1 / span 7;
}

.promo-image-container-2 {
  grid-column: 1 / span 4;
  grid-row: 2 / span 7;
}

.promo-image-container-1:hover {
  /* animation: image-container-hover-turn-left 0.9s ease-in-out 0.1s forwards; */
  transform: perspective(1000px) translateX(5%) translateY(-3%) rotateY(-8deg);
  transition: ease-in .5s;
}

.promo-image-container-1:not(:hover) {
  transition: ease-out .5s;
}


.promo-image-container-2:hover {
  transform: perspective(1000px) translateY(-2%) rotateY(10deg);
  transition: ease-in .5s;
  /* animation: image-container-hover-turn-right 0.7s ease-in-out 0.1s forwards; */
  /* animation-fill-mode: both; */
}

.promo-image-container-2:not(:hover) {
  transition: ease-out .5s;
}

/* @keyframes image-container-hover-turn-right {
  100% {
    transform: perspective(1000px) translateY(-2%) rotateY(10deg);

  }
}

@keyframes image-container-hover-turn-left {

  100% {
    transform: perspective(1000px) translateX(5%) translateY(-3%) rotateY(-8deg);
  }
} */

/* LATEST PRINTS */

#prints-promo {
  position: relative;
  text-align: center;
  /* color: var(--primary-color); */
  color: inherit;
  width: auto;
  margin-top: 15vh;
}

/* #prints-promo img {
  max-height: 100%;
  width: auto;
  align-self: center;
} */

.prints-promo-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

/* .prints-all {
  display: grid;
  height: 2000px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
  grid-auto-flow: dense;
  margin: 40px;
  overflow: hidden;
}

/* Base Styles */

.print-gallery-img.landscape {
  grid-row: span 2;
  grid-column: span 3;
}
.print-gallery-img.portrait {
  grid-row: span 3;
  grid-column: span 2;
}
.print-gallery-img.square {
  grid-row: span 2;
  grid-column: span 2;
}
.print-gallery-img.large-square {
  grid-row: span 2;
  grid-column: span 2;
}

.print-gallery-img:nth-of-type(7) {
  grid-row: span 3;
  grid-column: span 3;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.print-gallery-img:nth-of-type(1) {
  background: url(/static/CappadociaBalloons_58kb.jpg);
  background-position: bottom;
  background-size: cover;
}

.print-gallery-img:nth-of-type(2) {
  background: url(/static/Herbie\ Dehazed\ \(Less\ Red\)\ \(WebReady\).jpg);
  background-position: center;
  background-size: cover;

}
.print-gallery-img:nth-of-type(3) {
  background: url(/static/BlackSwan_92kb.jpg);
  background-position: center;
  background-size: cover;

}
.print-gallery-img:nth-of-type(4) {
  background: url(/static/BathChurchTower_52kb.jpg);
  background-position: center;
  background-size: cover;
}
.print-gallery-img:nth-of-type(5) {
  background: url(/static/BathRooftops_71kb.jpg);
  background-position: center;
  background-size: cover;
}

.print-gallery-img:nth-of-type(6) {
  background: url(/static/DreamCafe_168kb.jpg);
  background-position: right;
  background-size: cover;
}

.print-gallery-img:nth-of-type(8) {
  background: url(/static/CircusReflection89kb.jpg);
  background-position: center;
  background-size: cover;
}
.print-gallery-img:nth-of-type(9) {
  background: url(/static/BathAbbeyFrontMorning_72kb.jpg);
  background-position: center;
  background-size: cover;
}
.print-gallery-img:nth-of-type(10) {
  background: url(/static/HiddenDeer_56kb.jpg);
  background-position: center;
  background-size: cover;
}
.print-gallery-img:nth-of-type(11) {
  background: url(/static/BeginningOfTheSahara_31kb.jpg);
  background-position: center;
  background-size: cover;
}

.print-gallery-img:nth-of-type(12) {
  background: url(/static/Glowfish_66kb.jpg);
  background-position: center;
  background-size: cover;
}
.print-gallery-img:nth-of-type(13) {
  background: url(/static/CappadociaBalloons_58kb.jpg);
  background-position: center;
  background-size: cover;
}


/* LATEST PRINTS */

.latest-prints-heading {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.slideshow-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  margin: 40px;
  height: 400px;
  animation: sidemove 40s linear infinite alternate-reverse both;
  overflow-x: hidden;
  max-width: min(100vw);
}

.print-slide-img.landscape {
  position: absolute;
  width: 600px;
  height: 400px;
  margin: 0 32px;
}
.print-slide-img.portrait {
  position: absolute;
  width: 350px;
  height: 400px;
  margin: 0 32px;
}

.print-slide-img:nth-of-type(1) {
  background: url(/static/CappadociaBalloons_58kb.jpg);
  background-position: bottom;
  background-size: cover;
}
.print-slide-img:nth-of-type(2) {
  background: url(/static/Herbie\ Dehazed\ \(Less\ Red\)\ \(WebReady\).jpg);
  background-position: center;
  background-size: cover;
}

.marquee {
  width: 100vw;
  /* background-color: var(--light-background); */
  background: inherit;
  height: 62vh;
  color: #ee563b;
  overflow: hidden;
  justify-content: center;
  position: relative;
}
.marquee::before {
  position: absolute;
  width: 0;
  height: 100%;
  content: '';
  z-index: 1;
}

.marquee:before {
  left: 0;
  background: var(--light-background);
}

.marquee:after {
  right: 0;
  background: var(--light-background);
}

.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling 30s linear infinite;
}

.marquee-content li:nth-of-type(1) {
  background: url(/static/BathAbbey1_54kb.jpg);
  background-position: center;
  background-size: cover;
}
.marquee-content li:nth-of-type(2) {
  background: url(/static/BlackSwan_92kb.jpg);
  background-position: center;
  background-size: cover;
}
.marquee-content li:nth-of-type(3) {
  background: url(/static/CamelsWaiting_84kb.jpg);
  background-position: bottom;
  background-size: cover;
}
.marquee-content li:nth-of-type(4) {
  background: url(/static/DreamCafe_168kb.jpg);
  background-position: center;
  background-size: cover;
}
.marquee-content li:nth-of-type(5) {
  background: url(/static/HokkaidoDeer_56kb.jpg);
  background-position: center;
  background-size: cover;
}
.marquee-content li:nth-of-type(6) {
  background: url(/static/BathAbbeyFrontMorning_72kb.jpg);
  background-position: center;
  background-size: cover;
}
.marquee-content li:nth-of-type(7) {
  background: url(/static/BathSunsetRooftops_91kb.jpg);
  background-position: center;
  background-size: cover;
}
.marquee-content li:nth-of-type(8) {
  background: url(/static/Herbie\ Dehazed\ \(Less\ Red\)\ \(WebReady\).jpg);
  background-position: center;
  background-size: cover;
}
.marquee-content li:nth-of-type(9) {
  background: url(/static/PultneyBridgeAfterTheStorm_81kb.jpg);
  background-position: center;
  background-size: cover;
}
.marquee-content li:nth-of-type(10) {
  background: url(/static/BathAbbey1_54kb.jpg);
  background-position: center;
  background-size: cover;
}
.marquee-content li:nth-of-type(11) {
  background: url(/static/BlackSwan_92kb.jpg);
  background-position: center;
  background-size: cover;
}
.marquee-content li:nth-of-type(12) {
  background: url(/static/CamelsWaiting\ 50Qual.jpg);
  background-position: bottom;
  background-size: cover;
}

.marquee-content li {
  size: 80%;
  filter: grayscale(100%);
}
.marquee-content li:hover {
  size: 80%;
  filter: grayscale(0%);
}
.marquee-content li .portrait {
  height: 60vh;
  width: calc(60vh*2/3);
}
.marquee-content li .landscape {
  height: 60vh;
  width: calc(60vh*4/3);
}



.marquee-content:hover {
  /* animation-play-state:paused; */
}

@keyframes scrolling {
  0% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(calc(calc(25vw * -6) - calc(60vw * 3) - calc(2vw * 9)));
  }
}

.marquee-content .landscape {
  /* border: 3px solid #ee563b; */
  width: 60vw;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  white-space: nowrap;
  margin: 1vw;
}

.marquee-content .portrait {
  /* border: 3px solid #ee563b; */
  width: 25vw;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  white-space: nowrap;
  margin: 1vw;
}

.marquee-content li .portrait {
  width: 40vh;
}
.marquee-content li .landscape {
  width: 80vh;
}

/* SHOP */

.regular-nav {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  padding: 40px 0px;
  margin: 0 4rem;
}

.regular-nav ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  list-style: none;
}

.regular-nav p {
  text-align: right;
  font-size: 1.5rem;
  align-items: flex-end;
  padding: 0px 4rem;
  margin-left: auto;
}

.regular-nav p:last-of-type {
  font-size: calc(.15vw + 1.1rem);
  display: inline-block;
  opacity: 0.3;
}

.payment-notice {
  text-align: right;
  align-items: center;
  display: inline;
}

/* GENERAL SHOP STYLING */

#project-areas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem 8rem;
  gap: 6rem;
  height: 75vh;
  /* width: 100vw; */
}

#second-shop-section {
  display: flex;
  flex-direction: row;
  margin: 8rem 8rem;
  height: 60vh;
  gap: 6rem;
  justify-content: space-between;
  overflow-x: hidden;
}

.slideUp {
  animation: slideDown 500ms ease-in-out forwards;
}

.shop-area-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: var(--light-background);
  opacity: 0;
}

.shop-area-overlay:hover {
  transition: 1s ease-in-out;
  opacity: .9;
}

.shop-area-overlay:not(:hover) {
  transition: 1s ease-in-out;
  opacity: 0;
}

.shop-area-overlay h4 {
  font-weight: 500;
  font-size: ;
}

.call-out-new {
  position: absolute;
  top: 10px;
  right: 10px;
  border: var(--light-background) 3px solid;
  z-index: 2;
  color: var(--light-background);
  padding: .6rem 2rem;
  font-weight: 500;
  font-size: 1.6rem;
}

.call-out-new-dark {
  position: absolute;
  top: 10px;
  right: 10px;
  border: var(--primary-color) 3px solid;
  z-index: 2;
  color: var(--primary-color);
  padding: .6rem 2rem;
  font-weight: 500;
  font-size: 1.6rem;
}

/* PRINTS TILE */

#prints {
  display: flex;
  flex-direction: column;
  width: 30%;
}

#main-hero-image {
  width: 100%;
  height: 100%;
  /* min-height: 100%; */
  background: url(/static/Cactus_121kb.jpg) center center/cover no-repeat;
  position: relative;
  margin-bottom: var(--product-area-tile-image-margin-bottom);
}

#main-hero-image:hover, #main-hero-image:focus {
  background-size: 105%;
  /* transform: scale(1.1); */
  /* transition: ease-in 500ms; */
  transition: all 500ms;
  /* animation: shop-tile-zoom 1s both 100ms forwards; */
  
}

#main-hero-image:not(:hover) {
  /* background-size: 100%; */
  transition: ease-in 500ms;
}

@keyframes shop-tile-zoom {
  100% {
    background-size: 105%;
  }
}

.tile-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #252525;
}

.category-and-subfact {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: left;
  animation: slideDown 900ms ease-in-out forwards;
}

.category-and-subfact h6 {
  font-size: 2rem;
  font-weight: 800;
}

.tile-info p:nth-of-type(2) {
  align-items: right;
  justify-content: right;
  text-align: right;
}

.cta-small {
  font-weight: 500;
  border: var(--primary-color) 3px solid;
  padding: .6rem 2rem;
  color: var(--primary-color);
  text-decoration: none;
  font-size: 20px;
  line-height: 1.9;
  background: linear-gradient(to left, transparent 50%, var(--primary-color) 50%) right;
  background-size: 200%;
  animation: slideDown 1400ms ease-in-out forwards;
}

.cta-small:hover {
  background-position: left;
  color: var(--light-background);
  transition: 500ms ease-in-out;
}

/* CLOTHING */

#clothing {
  display: flex;
  flex-direction: column;
  width: 30%;
}

#large-square-image {
  height: 100%;
  width: 100%;
  background: url(/static/CrocoFishWoods_1000pxW_200kb.jpg) center center/cover no-repeat;
  position: relative;
  margin-bottom: var(--product-area-tile-image-margin-bottom);
}

#large-square-image:hover {
  background-size: 105%;
  transition: ease-in 500ms;
}

#large-square-image:not(:hover) {
  /* background-size: 100%; */
  transition: ease-in 500ms;
}

/* ICONS */

#icon-packs {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.thin-horizontal-image {
  background: url(/static/IconsHeroImage_91kb_1191x795.jpg) center center/cover no-repeat;
  height: 100%;
  width: 100%;
  margin-bottom: var(--product-area-tile-image-margin-bottom);
  position: relative;
}

.thin-horizontal-image:hover {
  background-size: 230%;
  transition: ease-in-out 1500ms;
}

.thin-horizontal-image:not(:hover) {
  transition: ease-in-out 500ms;
}


/* STORE NAV */

/* #store-nav {
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  text-align: right;
}

#store-nav h6 {
  line-height: 4rem;
  font-size: 16px;
} */

/* PAINTINGS */

#paintings {
  display: flex;
  flex-direction: column;
  width: 55%;
}

.paintings-image {
  background: url(/static/Liquid\ Paint\ \(WebReady\).jpg) center center/cover no-repeat;
  width: 100%;
  height: 100%;
  margin-bottom: var(--product-area-tile-image-margin-bottom);
  position: relative;
}

.paintings-image:hover {
  background-size: 105%;
  transition: ease-in 500ms;
}

.paintings-image:not(:hover) {
  /* background-size: 100%; */
  transition: ease-in 500ms;
}

/* UPCOMING PROJECTS */

#upcoming-projects {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.upcoming-projects-image {
  background: url(/static/KOLOROK_RedTeam_750px.jpg) center center/cover no-repeat;
  width: 100%;
  height: 100%;
  margin-bottom: var(--product-area-tile-image-margin-bottom);
  position: relative;
}

.upcoming-projects-image:hover {
  background-size: 105%;
  transition: ease-in 500ms;
}

.upcoming-projects-image:not(:hover) {
  /* background-size: 100%; */
  transition: ease-in 500ms;
}


.store-category {
  padding: 2rem 4rem;
  display: block;
}

.store-divider {
  width: 90%;
  height: 2px;
  padding-top: 0px;
  border: none;
  background: #686868;
  margin: 3em 0;
}

.store-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit), minmax(300px, 1fr);
  grid-gap: 4rem;
  padding: 4rem;
}

.product-tile {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  /* background: chartreuse; */
}

.image-box {
  width: 300px;
  height: 300px;
  position: relative;
}

.print-hover-overlay {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(17, 17, 17, 0.4);
  color: var(--light-background);
  visibility: hidden;
  opacity: 0;
  text-align: center;
  justify-content: center;
}

.print-hover-overlay a {
  text-decoration: none;
  color: var(--light-background);
  font-size: 3rem;
  font-weight: 500;
}

.image-box:hover .print-hover-overlay {
  visibility: visible;
  opacity: 1;
}

.hover-title {
  font-size: 25px;
  font-weight: 200;
}

.product-tile img {
  object-fit: cover;
  width: 300px;
  height: 300px;
}

.product-tile h5:nth-child(4) {
  margin: 4rem 0;
}

/* ABOUT */

.about {
  background: url(/static/AboutBackground.jpg) no-repeat top center/cover;
  height: 100vh;
}

.nav-bar-about {
  background-image: linear-gradient(to bottom, rgb(247, 247, 247, 1), rgba(247, 247, 247, 0.01));
  height: 200px;
}

.background-gradient-div {
  background-image: linear-gradient(to top, rgb(247, 247, 247, 1), rgba(247, 247, 247, 0.01));
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;

}

.about-atiq-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about-atiq {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 4rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  width: 90vw;
  background-color: rgba(247, 247, 247, 0.8);
  color: var(--primary-color);
}


.store-divider-light {
  background: var(--primary-color);
  width: 20rem;
  height: 3rem;
  margin-bottom: 4rem;
}

.contact-form {
  display: grid;
  grid-template-areas: 
    'contact-form-header contact-form-header'
    'full-name-field email-field'
    'message message'
    'submit-button submit-button';
  width: 100%;
  padding: 4rem;
  margin-top: 6rem;
  grid-gap: 3rem;
}


.contact-form-header {
  grid-area: contact-form-header;
  font-size: 3.6rem;
  margin: auto;
  width: 100vw;
}

.full-name-field {
  grid-area: full-name-field;
  font-size: 3.6rem;
}

.email-field {
  grid-area: email-field;
  font-size: 3.6rem;
}

.message {
  grid-area: message;
  font-size: 3.6rem;
  width: 100%;

}

.submit-button {
  grid-area: submit-button;
  font-size: 2rem;
  color: var(--primary-color);
  background: none;
  /* border: var(--primary-color) 3px solid; */
  /* max-width: 400px; */
  height: 4rem;
  width: auto;
  justify-self: center;
  cursor: pointer;
  transition: 400ms;
}

.submit-button:hover {
  /* background: var(--primary-color); */
  /* color: var(--pri-background); */
  /* border: var(--primary-color) 3px solid; */
  transition: 400ms;
}

/* ICONS */

#icons-header {
  height: 100vh !important;
  width: 100vw !important;
  /* background: url(/static/IconsHeroImage_ThreeiPhones.png) center right/cover no-repeat; */
  background-size: 54%;
}

#icons-header::before {
  content: '';
  /* background: url(/static/IconsHeroImage_91kb_1191x795.jpg) center center/cover; */
  opacity: 0.85;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#hero-section-icons {
  margin: auto;
  display: flex;
  flex-direction: column;
  /* grid-template-rows: 2fr 12fr 1fr; */
  /* align-items: baseline; */
  list-style: none;
  height: 85vh;
  max-height: 85vh;

  /* background: linear-gradient(to top, rgba(2, 3, 8, 1), rgba(17, 17, 17, 0.01)); */
  /* background: royalblue;
  background-image: linear-gradient(to top, rgb(253, 253, 253, 1), rgba(253, 253, 253, 0.01)); */
  width: 100vw;
  animation: slideDown 800ms ease-in forwards;
}

#hero-section-icons img {
  /* width: auto; */
  animation: slideDown 800ms ease-in forwards;
  min-width: 300px;
  max-width: 1000px;
  /* max-height: 70vh; */
}

.icons-hero-middle-section {
  display: flex;
  flex-direction: row;
  width: 100vw;
  flex-wrap: wrap-reverse;
  justify-content: center;
  /* justify-content: space-between; */
}

.hero-section-icons-content {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  /* width: 50vw; */
  justify-content: space-around;
  min-width: 300px;
  max-width: 40vw;
}



.hero-section-image-container {
  height: 100%;
  width: 100%;
}

.hero-section-image-container img {
  height: 100%;
  width: 100%;
}

.hero-title {
  grid-row: 1;
  text-transform: uppercase;
  text-align: center;
}

.feature {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

#hero-section-icons ul {
  list-style: none;
  text-decoration: none;
  line-height: 2;
  max-width: 100%;
}

.hero-button-wrap {
  text-align: end;
}

#icons-view-more-option {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 100%;
  align-items: center;
  text-align: right;
  align-self: flex-end;
  margin-right: 4em;
}

#icons-view-more-option a {
  color: var(--light-background);
  text-decoration: none;
  font-size: calc(.15vw + 1.4rem);
  margin-right: 1.5em;
}

.single-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
  justify-content: center;
  align-items:center;
  text-align:center;
}

.single-column h5 {
  padding-bottom: 6rem;
}

.single-column img {
  margin-bottom: 20rem;
}

#clean-design {
  padding: 4rem;
  margin-top: 20rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: top;
  margin-bottom: 10vh;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

#clean-design h2 {
  display: block;
  text-align: left;
}

#clean-design p {
  text-align: left;
  padding: 2em 0rem;
  vertical-align: middle;
}

#clean-design img {
  max-width: 400px;
  max-height: 65vh;
  /* transform: skewY(50deg); */
  align-self: right;
}

.clean-design-image {
  text-align: center;
}

#clean-design img:hover {
  transition: .6s ease-in;
  transform: perspective(400px) rotateY(5deg);
}

#clean-design img:not(:hover) {
  transition: .6s ease-out;
}

/* Lifetime Updates */

#lifetime-updates {
  margin: 0rem 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

#lifetime-updates {
  background-image: url(/static/CycleIcon950x900.png) center center/cover !important;
  opacity: 1;
  min-height: 300px;
  width: auto;
  margin-bottom: 20vh;
}

#lifetime-updates {
  display: grid;
  grid-template-areas: 
  'Lifetime-Updates-Headline Cycle-Icon'
  'Lifetime-Updates-Copy Cycle-Icon';
  grid-gap: 4rem;
}

#lifetime-updates h2 {
  grid-area: Lifetime-Updates-Headline;
}
#lifetime-updates p {
  grid-area: Lifetime-Updates-Copy;
  padding: 2em 0rem;
}
#lifetime-updates img {
  grid-area: Cycle-Icon;
  max-width: 35vw;
  align-self: right;
  animation: cyclerotate 5s infinite 1s ease-in-out;
  /* transform: skewX(45deg); */
  opacity: .2;
}

@keyframes cyclerotate {
  to {
    transform: rotate(360deg);
  
  }
}

#lifetime-updates p {
  max-width: 45ch;
}

/* HQ Backgrounds */

#hq-backgrounds img {
  min-width: 200px;
  max-width: 80vw;
}

#hq-backgrounds h2, #hq-backgrounds p {
  /* padding: 0rem 1em; */
  max-width: 800px;
}

#hq-backgrounds p {
  padding: 2em 0rem;
}

#hq-backgrounds h2 {
  margin-top: 0.5em;
  display: flex;


}

/* UNLIMITED Customisation */

#unlimited-customisation p {
  padding: 4rem;
  max-width: 90vw;
}

.icons-overview-two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.icons-overview-two-column img {
  max-width: 700px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Purchase Options */

.purchase-options {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  margin: 4rem;
  grid-gap: 3rem;
  /* text-align: center;
  align-items: center;
  justify-content: space-around; */
}

.icon-purchase-button-light {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  height: 300px;
  background: var(--light-background);
  color: var(--primary-color);
}

.icon-purchase-button-light a {
  text-decoration: none;
  color: var(--primary-color);
}

.icon-purchase-button-light:hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  height: 300px;
  color: var(--light-background);
  background: var(--primary-color);
  border: var(--light-background) solid 4px;
}

.icon-purchase-button-dark a {
  text-decoration: none;
  color: var(--light-background);
}

.icon-purchase-button-dark {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  height: 300px;
  color: var(--light-background);
  background: var(--primary-color);
  border: var(--light-background) solid 4px;
}

.icon-purchase-button-dark:hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  height: 300px;
  color: var(--primary-color);
  background: var(--light-background);
}

.purchase-options-disclaimer{
  width: 100vw;
  text-align: center;
  height: 5vh;
  color: var(--light-background);
}


/* HAMBURGER MENU */

.mobile-menu-wrap {
  display: none;
  top: 0;
  right: 0;
  z-index: 1;
}

.mobile-menu-wrap .toggler {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.mobile-menu-wrap .hamburger {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Hamburger Line */

.mobile-menu-wrap .hamburger>div {
  position: relative;
  flex: none;
  width: 100%;
  height: 3px;
  background: var(--primary-color);
  display: flex;
  /* border-radius: 50%; */
  /* flex: none; */
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Top and Bottom lines */

.mobile-menu-wrap .hamburger>div::before,
.mobile-menu-wrap .hamburger>div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 3px;
  background: inherit;
}

.mobile-menu-wrap .hamburger>div::after {
  top: 10px;
}

/* Toggler Animation */

.mobile-menu-wrap .toggler:checked+.hamburger>div {
  transform: rotate(135deg);
  background: var(--light-background);
}

/* This turns lines into X */

.mobile-menu-wrap .toggler:checked+.hamburger>div:before,
.mobile-menu-wrap .toggler:checked+.hamburger>div:after {
  top: 0;
  transform: rotate(90deg);
  background: inherit;
}

/* rotate on hover when checked */

.mobile-menu-wrap .toggler:checked:hover+.hamburger>div {
  transform: rotate(225deg);
}

/* To show the menu when toggler checked */

.mobile-menu-wrap .toggler:checked~.mobile-menu {
  visibility: visible;
}

.mobile-menu-wrap .toggler:checked~.mobile-menu>div {
  transform: scale(1);
  transition-duration: 0.75s;
}

.mobile-menu-wrap .toggler:checked~.mobile-menu>div>div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

.mobile-menu-wrap .mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-menu-wrap .mobile-menu>div {
  background: rgba(17, 17, 17, .96);
  width: 500vw;
  height: 500vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.mobile-menu-wrap .mobile-menu>div>div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vw;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.mobile-menu-wrap .mobile-menu>div>div>ul {
  display: flex;
  flex-direction: column;
  line-height: 8em;
}

.mobile-menu-wrap .mobile-menu>div>div>ul>li {
  list-style: none;
  color: var(--light-background);
}

.mobile-menu-wrap .mobile-menu>div>div>ul>li a {
  list-style: none;
  color: var(--light-background);
  font-size: calc(2.5vw + 2rem);
  text-decoration: none;
  transition: color 0.4s ease;
}

.mobile-menu-wrap .mobile-menu>div>div>ul>li>a:hover {
  color: var(--accent-color);
}




