* {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

/* CUSTOM PROPERTIES */

:root {
  --primary-color: #111111;
  --light-background: #FDFDFD;
  --accent-color: #ee563b;
  --marquee-width: 100vw;
  --marquee-height: 40vh;
  --marquee-elements: 9;
  --marquee-elements-displayed: 5;
  --marquee-element-width: calc(var(--marquee-width)/var(--marquee-elements-displayed));
  --marquee-animation-duration: 10s;
}

html {
  scroll-behavior: smooth;
}

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
} */


/* UTILITY CLASSES */

h1 {
  font-size: 6.4rem;
  margin-bottom: 4rem;
}

h2 {
  font-size: 5.5rem;
}

h3 {
  font-size: 4.8rem;
  padding-bottom: 4rem;
}

h4 {
  font-size: 36px;
  font-weight: 200;
}

h5 {
  font-size: 3rem;
  font-weight: 500;
}

h6 {
  font-size: 2rem;
  font-weight: 300;
}

p {
  font-weight: 200;
  font-size: 2.4rem;
  line-height: 1.9;
}

.bold-p {
  font-weight: 800;
}

.highlight {
  color: var(--accent-color) !important;
  font-weight: 800 !important;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px;
  align-items: center;
}

.socials {
  text-align: right;
}

.bg-light {
  background: var(--light-background);
  color: var(--primary-color);
}

.bg-dark {
  background: var(--primary-color);
  color: var(--light-background);
}

.bg-dark-transparent {
  background: transparent;
  color: var(--light-background);
}

/* Buttons */

.nav-btn {
  text-decoration: none;
  color: var(--primary-color);
  opacity: 0.9;
  padding: 0px;
  font-size: 3rem;
  padding: 2rem 4rem;
}

.nav-btn-active {
  text-decoration: none;
  color: var(--primary-color);
  opacity: 0.7;
  padding: 0px;
  font-size: 3rem;
  padding: 2rem 4rem;
}

.nav-btn:hover {
  text-decoration: none;
  color: var(--primary-color);
  padding: 0px;
  font-size: 30px;
  text-decoration: underline;
  padding: 2rem 4rem;
}

.nav-btn-light {
  text-decoration: none;
  color: var(--light-background);
  opacity: 0.9;
  padding: 0px;
  font-size: 30px;
  padding: 2rem 4rem;
}

.nav-btn-light-active {
  text-decoration: none;
  color: var(--light-background);
  opacity: 0.7;
  padding: 0px;
  font-size: 30px;
  padding: 2rem 4rem;
}

.cta-btn {
  display: inline-block;
  font-size: 36px;
  text-decoration: none;
  color: var(--primary-color);
  padding: 5px 10px;
  border: solid var(--primary-color) 4px;
  margin: 80px 0px;
  background: linear-gradient(to left, transparent 50%, var(--primary-color) 50%) right;
  background-size: 200%;
  transition: .4s ease-in-out;
}

.cta-btn:hover {
  display: inline-block;
  font-size: 36px;
  color: var(--light-background);
  text-decoration: none;
  padding: 5px 10px;
  border: solid var(--primary-color) 4px;
  margin: 80px 0px;
  background-position: left;
  /* animation: cta-btn-hover 3s forwards ease-in-out; */
}

/* @keyframes cta-btn-hover {
  0% {
  }

  100% {
    color: var(--light-background);
    background: linear-gradient(to right, #111111 50%, #fff 50%);
    text-decoration: none;
    border: 3px var(--primary-color) solid;
  }
} */

.cta-btn-underlined {
  display: inline-block;
  font-size: 36px;
  text-decoration: underline;
  color: var(--primary-color);
  padding: 5px 10px;
  border: none;
  margin: 40px 0px;
}

.cta-btn-underlined:hover {
  display: inline-block;
  font-size: 36px;
  padding: 5px 10px;
  border: none;
  margin: 40px 0px;
  animation: cta-btn-underlined 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@keyframes cta-btn-underlined {
  100% {
    background: var(--primary-color);
    color: #FDFDFD;
    opacity: 1;
    
  }
}

.cta-btn-underlined-dark {
  display: inline-block;
  font-size: 36px;
  text-decoration: underline;
  color: var(--light-background);
  padding: 5px 10px;
  border: none;
  margin: 40px 0px;
  background: linear-gradient(to left, transparent 50%, var(--light-background) 50%) right;
  background-size: 200%;
  transition: .4s ease-in-out;
}

.cta-btn-underlined-dark:hover {
  display: inline-block;
  font-size: 36px;
  padding: 5px 10px;
  border: none;
  margin: 40px 0px;
  color: var(--primary-color);
  background-position: left;
}

.bold-link {
  text-decoration: none;
  font-size: 36px;
  color: #111111;
  padding: 5px 10px;
}

.normal-icon {
  max-width: 55px;
}

.small-icon {
  height: 48px;
}

/* Inputs & Forms */

.form-light input, textarea {
  border: var(--primary-color) solid 3px;
  font-size: 3rem;
  display: inline-block;
  padding: 1.5rem;
  width: 100%;
}

.form-light input, textarea:focus {
  border: var(--primary-color) solid 3px;
  font-size: 3rem;
  display: inline-block;
  padding: 1.5rem;
  width: 100%;
}

.form-light label {
  font-size: 3rem;
  display: inline-block;
  padding: 1.5rem;
}

/* Layouts */

.grid-two-column {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50vw, 1fr));
  grid-gap: 1rem;
}

.flex-single-column-middle {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 8rem 4rem;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.flex-single-column-left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 8rem 4rem;
  align-items: left;
  text-align: left;
  justify-content: left;
}

/* SHOWCASE & NAVBAR */

.hero-nav ul {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  list-style: none;
  vertical-align: middle;
}

.hero-nav li {
  display: inline-block;
  /* vertical-align: middle; */
  padding: 20px 0;
}

.hero-nav li img {
  max-width: 78px;
  display: inline;
  vertical-align: middle;
  align-items: center;
}

.showcase-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 7fr;
  height: 85vh;
}

.hero-image {
  grid-row: 1 / span 2;
  grid-column: 2;
  min-width: 100%;
  height: 100%;
  background: url(/static/IMG_0083.jpg) center center/cover;
}

.hero-image img {
  /* background: url('../static/IMG_0083.jpg') center center/cover; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.hero-content {
  /* vertical-align: center; */
  padding: 40px;
  text-overflow: wrap;
}

nav li img {
  max-width: 78px;
  display: inline;
}

/* SUBMENU */


.submenu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  justify-content: center;
  padding: 5vh 4rem;
  width: 100vw;
}

.right-arrow {
  text-align: right;
}


.left-arrow {
  display: inline-block;
}


/* SECOND PROMO */

#second-promo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
  grid-gap: 4rem;
  margin: 8rem 4rem 0rem 4rem;
  align-items: center;
}

.second-promo-content {
  justify-content: center;
  text-align: left;
  vertical-align: middle;
  padding: 5vh 0;
  max-width: 80vw;
}

.second-promo-images {
  width: 100%;
  max-width: 80vw;
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;

}

.promo-image-container-1 img, .promo-image-container-2 img  {
  max-width: 40vw;
  max-height: 60vw;
}

.promo-image-container-1 {
  grid-column: 4 / span 5;
  grid-row: 1 / span 7;
}

.promo-image-container-2 {
  grid-column: 1 / span 4;
  grid-row: 2 / span 7;
}

.promo-image-container-1:hover {
  animation: image-container-hover-turn-left 0.9s ease-in-out 0.1s forwards;
}

.promo-image-container-2:hover {
  animation: image-container-hover-turn-right 0.7s ease-in-out 0.1s forwards;
  animation-fill-mode: both;
}

@keyframes image-container-hover-turn-right {
  100% {
    transform: perspective(1000px) translateY(-2%) rotateY(10deg);

  }
}

@keyframes image-container-hover-turn-left {

  100% {
    transform: perspective(1000px) translateX(5%) translateY(-3%) rotateY(-8deg);
  }
}

/* LATEST PRINTS */

#prints-promo {
  position: relative;
  text-align: center;
  color: var(--primary-color);
  width: auto;
  margin-top: 20vh;
}

/* #prints-promo img {
  max-height: 100%;
  width: auto;
  align-self: center;
} */

.prints-promo-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

/* .prints-all {
  display: grid;
  height: 2000px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
  grid-auto-flow: dense;
  margin: 40px;
  overflow: hidden;
}

/* Base Styles */

.print-gallery-img.landscape {
  grid-row: span 2;
  grid-column: span 3;
}
.print-gallery-img.portrait {
  grid-row: span 3;
  grid-column: span 2;
}
.print-gallery-img.square {
  grid-row: span 2;
  grid-column: span 2;
}
.print-gallery-img.large-square {
  grid-row: span 2;
  grid-column: span 2;
}

.print-gallery-img:nth-of-type(7) {
  grid-row: span 3;
  grid-column: span 3;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.print-gallery-img:nth-of-type(1) {
  background: url(/static/CappadociaBalloons_58kb.jpg);
  background-position: bottom;
  background-size: cover;
}

.print-gallery-img:nth-of-type(2) {
  background: url(/static/Herbie\ Dehazed\ \(Less\ Red\)\ \(WebReady\).jpg);
  background-position: center;
  background-size: cover;

}
.print-gallery-img:nth-of-type(3) {
  background: url(/static/BlackSwan_92kb.jpg);
  background-position: center;
  background-size: cover;

}
.print-gallery-img:nth-of-type(4) {
  background: url(/static/BathChurchTower_52kb.jpg);
  background-position: center;
  background-size: cover;
}
.print-gallery-img:nth-of-type(5) {
  background: url(/static/BathRooftops_71kb.jpg);
  background-position: center;
  background-size: cover;
}

.print-gallery-img:nth-of-type(6) {
  background: url(/static/Dream\ Café.jpg);
  background-position: right;
  background-size: cover;
}

.print-gallery-img:nth-of-type(8) {
  background: url(/static/CircusReflection89kb.jpg);
  background-position: center;
  background-size: cover;
}
.print-gallery-img:nth-of-type(9) {
  background: url(/static/BathAbbeyFrontMorning_72kb.jpg);
  background-position: center;
  background-size: cover;
}
.print-gallery-img:nth-of-type(10) {
  background: url(/static/HiddenDeer_56kb.jpg);
  background-position: center;
  background-size: cover;
}
.print-gallery-img:nth-of-type(11) {
  background: url(/static/BeginningOfTheSahara_31kb.jpg);
  background-position: center;
  background-size: cover;
}

.print-gallery-img:nth-of-type(12) {
  background: url(/static/Glowfish_66kb.jpg);
  background-position: center;
  background-size: cover;
}
.print-gallery-img:nth-of-type(13) {
  background: url(/static/CappadociaBalloons_58kb.jpg);
  background-position: center;
  background-size: cover;
}


/* LATEST PRINTS */

.latest-prints-heading {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.slideshow-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  margin: 40px;
  height: 400px;
  animation: sidemove 40s linear infinite alternate-reverse both;
  overflow-x: hidden;
  max-width: min(100vw);
}

.print-slide-img.landscape {
  position: absolute;
  width: 600px;
  height: 400px;
  margin: 0 32px;
}
.print-slide-img.portrait {
  position: absolute;
  width: 350px;
  height: 400px;
  margin: 0 32px;
}

.print-slide-img:nth-of-type(1) {
  background: url(/static/CappadociaBalloons_58kb.jpg);
  background-position: bottom;
  background-size: cover;
}
.print-slide-img:nth-of-type(2) {
  background: url(/static/Herbie\ Dehazed\ \(Less\ Red\)\ \(WebReady\).jpg);
  background-position: center;
  background-size: cover;
}
 */

@keyframes sidemove {
  from {
    left: 0%;
  }

  to {
    left: 50%;
  }
}

.marquee {
  width: 100vw;
  background-color: var(--light-background);
  height: 80vh;
  color: #ee563b;
  overflow: hidden;
  justify-content: center;
  position: relative;
}
.marquee::before, .marquee:after {
  position: absolute;
  width: 4rem;
  height: 100%;
  content: '';
  z-index: 1;
}

.marquee:before {
  left: 0;
  background: var(--light-background);
}

.marquee:after {
  right: 0;
  background: var(--light-background);
}

.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling 60s linear infinite;
}

.marquee-content li img {
  height: 60vh;
  size: 80%;
}

.marquee-content:hover {
  /* animation-play-state:paused; */
}

@keyframes scrolling {
  0% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(calc(-1*40vw*9));
  }
}

.marquee-content li {
  /* border: 3px solid #ee563b; */
  width: 40vw;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  white-space: nowrap;
  margin: 2rem;
}

/* SHOP */

.regular-nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 40px 0px;
}

.regular-nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

.regular-nav p {
  text-align: right;
  font-size: 1.5rem;
  align-items: flex-end;
  padding: 0px 4rem;
}

.payment-notice {
  text-align: right;
  align-items: center;
  display: inline;
}

.payment-notice p {
  font-size: 1.5rem;
  display: inline-block;
}

.store-category {
  padding: 2rem 4rem;
  display: block;
}

.store-divider {
  width: 25rem;
  height: 3rem;
  padding-top: 0px;
  border: none;
  background: #111111;
}

.store-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit), minmax(300px, 1fr);
  grid-gap: 4rem;
  padding: 4rem;
}

.product-tile {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  /* background: chartreuse; */
}

.image-box {
  width: 300px;
  height: 300px;
  position: relative;
}

.print-hover-overlay {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(17, 17, 17, 0.4);
  color: var(--light-background);
  visibility: hidden;
  opacity: 0;
  text-align: center;
  justify-content: center;
}

.print-hover-overlay a {
  text-decoration: none;
  color: var(--light-background);
  font-size: 3rem;
  font-weight: 500;
}

.image-box:hover .print-hover-overlay {
  visibility: visible;
  opacity: 1;
}

.hover-title {
  font-size: 25px;
  font-weight: 200;
}

.product-tile img {
  object-fit: cover;
  width: 300px;
  height: 300px;
}

.product-tile h5:nth-child(4) {
  margin: 4rem 0;
}

/* ABOUT */

.about {
  background: url(/static/AboutBackground.jpg) no-repeat top center/cover;
  height: 800px;
}

.nav-bar-about {
  background-image: linear-gradient(to bottom, rgb(253, 253, 253, 1), rgba(253, 253, 253, 0.01));
  height: 200px;
}

.background-gradient-div {
  background-image: linear-gradient(to top, rgb(253, 253, 253, 1), rgba(253, 253, 253, 0.01));
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;

}

.about-atiq-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about-atiq {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 4rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  max-width: 650px;
  background-color: rgba(14, 14, 14, 0.7);
  color: var(--light-background);
}


.store-divider-light {
  background: var(--light-background);
  width: 20rem;
  height: 3rem;
  margin-bottom: 4rem;
}

.contact-form {
  display: grid;
  grid-template-areas: 
    'contact-form-header contact-form-header'
    'full-name-field email-field'
    'message message'
    'submit-button submit-button';
  width: 100%;
  padding: 4rem;
  margin-top: 6rem;
  grid-gap: 3rem;
}

.contact-form

.contact-form-header {
  grid-area: contact-form-header;
  font-size: 3.6rem;
}

.full-name-field {
  grid-area: full-name-field;
  font-size: 3.6rem;
}

.email-field {
  grid-area: email-field;
  font-size: 3.6rem;
}

.message {
  grid-area: message;
  font-size: 3.6rem;
  width: 100%;

}

.submit-button {
  grid-area: submit-button;
  font-size: 3.6rem;
  color: var(--primary-color);
  background: var(--light-background);
  border: var(--primary-color) 3px solid;
  width: 50%;
  justify-self: center;
  cursor: pointer;
}

.submit-button:hover {
  background: var(--primary-color);
  color: var(--light-background);
  border: var(--primary-color) 3px solid;
}

/* ICONS */

#icons-header {
  height: 100vh;
}

#icons-header::before {
  content: '';
  background: url(/static/IMG_0083.jpg) center center/cover;
  opacity: 0.85;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#hero-section {
  padding: 4rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: baseline;
  list-style: none;
  height: 75vh;
  background: linear-gradient(to top, rgba(17, 17, 17, 1), rgba(17, 17, 17, 0.01));
  /* background: royalblue;
  background-image: linear-gradient(to top, rgb(253, 253, 253, 1), rgba(253, 253, 253, 0.01)); */
  width: 100%;
}

.hero-title {
  grid-row: 1;
}

#hero-section ul {
  list-style: none;
  text-decoration: none;
  line-height: 3;
}

.hero-button-wrap {
  text-align: end;
}

.single-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
  justify-content: center;
  align-items:center;
  text-align:center;
}

.single-column h5 {
  padding-bottom: 6rem;
}

.single-column img {
  margin-bottom: 20rem;
}

#clean-design {
  padding: 4rem;
  margin-top: 20rem;
}

#clean-design h2 {
  display: block;
  text-align: right;
}

#clean-design p {
  text-align: right;
  padding: 5rem 0rem;
  vertical-align: middle;
}

.grid-two-column img {
  max-width: 40vw;
  text-align: center;
  justify-content: right;
  align-items: center;
  object-fit: cover;
  /* transform: skewY(50deg); */
}

.grid-two-column img:hover {
  
  transform: perspective(400px) rotateY(5deg);
}

/* Lifetime Updates */

#lifetime-updates {
  margin: 0rem 4rem;
}

.icons-background-image::after {
  content: '';
  background-image: url(/static/CycleIcon950x900.png) no-repeat center center/cover;
  opacity: 0.85;
  height: 500px;
}

#lifetime-updates p {
  max-width: 700px;
}

/* HQ Backgrounds */

#hq-backgrounds img {
  min-width: 200px;
  max-width: 80vw;
}

#hq-backgrounds h2, #hq-backgrounds p {
  padding: 4rem;
  max-width: 800px;
}

/* UNLIMITED Customisation */

#unlimited-customisation p {
  padding: 4rem;
  max-width: 90vw;
}

.icons-overview-two-column {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50vw, 1fr));
  grid-gap: 3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.icons-overview-two-column img {
  max-width: 80vw;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Purchase Options */

.purchase-options {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  margin: 4rem;
  grid-gap: 3rem;
  /* text-align: center;
  align-items: center;
  justify-content: space-around; */
}

.icon-purchase-button-light {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  height: 300px;
  background: var(--light-background);
  color: var(--primary-color);
}

.icon-purchase-button-light a {
  text-decoration: none;
  color: var(--primary-color);
}

.icon-purchase-button-light:hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  height: 300px;
  color: var(--light-background);
  background: var(--primary-color);
  border: var(--light-background) solid 4px;
}

.icon-purchase-button-dark a {
  text-decoration: none;
  color: var(--light-background);
}

.icon-purchase-button-dark {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  height: 300px;
  color: var(--light-background);
  background: var(--primary-color);
  border: var(--light-background) solid 4px;
}

.icon-purchase-button-dark:hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  height: 300px;
  color: var(--primary-color);
  background: var(--light-background);
}


/* HAMBURGER MENU */

.mobile-menu-wrap {
  display: none;
  top: 0;
  right: 0;
  z-index: 1;
}

.mobile-menu-wrap .toggler {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.mobile-menu-wrap .hamburger {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Hamburger Line */

.mobile-menu-wrap .hamburger>div {
  position: relative;
  flex: none;
  width: 100%;
  height: 3px;
  background: var(--primary-color);
  display: flex;
  /* border-radius: 50%; */
  /* flex: none; */
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Top and Bottom lines */

.mobile-menu-wrap .hamburger>div::before,
.mobile-menu-wrap .hamburger>div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 3px;
  background: inherit;
}

.mobile-menu-wrap .hamburger>div::after {
  top: 10px;
}

/* Toggler Animation */

.mobile-menu-wrap .toggler:checked+.hamburger>div {
  transform: rotate(135deg);
  background: var(--light-background);
}

/* This turns lines into X */

.mobile-menu-wrap .toggler:checked+.hamburger>div:before,
.mobile-menu-wrap .toggler:checked+.hamburger>div:after {
  top: 0;
  transform: rotate(90deg);
  background: inherit;
}

/* rotate on hover when checked */

.mobile-menu-wrap .toggler:checked:hover+.hamburger>div {
  transform: rotate(225deg);
}

/* To show the menu when toggler checked */

.mobile-menu-wrap .toggler:checked~.mobile-menu {
  visibility: visible;
}

.mobile-menu-wrap .toggler:checked~.mobile-menu>div {
  transform: scale(1);
  transition-duration: 0.75s;
}

.mobile-menu-wrap .toggler:checked~.mobile-menu>div>div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

.mobile-menu-wrap .mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-menu-wrap .mobile-menu>div {
  background: rgba(17, 17, 17, .96);
  width: 500vw;
  height: 500vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.mobile-menu-wrap .mobile-menu>div>div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vw;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.mobile-menu-wrap .mobile-menu>div>div>ul {
  display: flex;
  flex-direction: column;
  line-height: 2;
}

.mobile-menu-wrap .mobile-menu>div>div>ul>li {
  list-style: none;
  color: #FDFDFD;
}

.mobile-menu-wrap .mobile-menu>div>div>ul>li a {
  list-style: none;
  color: #FDFDFD;
  font-size: 6rem;
  text-decoration: none;
  transition: color 0.4s ease;
}

.mobile-menu-wrap .mobile-menu>div>div>ul>li>a:hover {
  color: var(--accent-color);
}



