/* INDEX */
/* 1. General Layout (flex, grid, etc.) */
/* 2. Margin and padding helpers */
/* 1 General Layout */
.grid {
  display: grid;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.padding-right-0 {
  padding-right: 0;
}

.padding-left-0 {
  padding-left: 0;
}

.margin-top-1 {
  margin-top: 0.5rem;
}

@media screen and (max-width: 1023px) {
  .justify-center-md {
    justify-content: center;
  }
}
.justify-start {
  justify-content: flex-start;
}

@media screen and (min-width: 1023px) {
  .justify-start-lg {
    justify-content: flex-start;
  }
}
.justify-end {
  justify-content: flex-end;
}

@media screen and (min-width: 1023px) {
  .justify-end-lg {
    justify-content: flex-end;
  }
}
@media screen and (max-width: 450px) {
  .justify-evenly-sm {
    justify-content: space-evenly;
  }
}
.justify-between {
  justify-content: space-between;
}

.reveal-flex {
  display: flex !important;
}

@media screen and (max-width: 1023px) {
  .mobile-off {
    display: none;
  }
}
@media screen and (min-width: 1023px) {
  .desktop-off {
    display: none;
  }
}
.center-text {
  text-align: center;
}

/* 2 Margin and padding helpers */
.padding-1 {
  padding: 0.25rem;
}
.padding-2 {
  padding: 0.5rem;
}
.padding-3 {
  padding: 0.75rem;
}
.padding-4 {
  padding: 1rem;
}
.padding-5 {
  padding: 1.25rem;
}
.padding-6 {
  padding: 1.5rem;
}
.padding-7 {
  padding: 1.75rem;
}
.padding-8 {
  padding: 2rem;
}

.padding-top-1 {
  padding-top: 0.25rem;
}
.padding-top-2 {
  padding-top: 0.5rem;
}
.padding-top-3 {
  padding-top: 0.75rem;
}
.padding-top-4 {
  padding-top: 1rem;
}
.padding-top-5 {
  padding-top: 1.25rem;
}
.padding-top-6 {
  padding-top: 1.5rem;
}
.padding-top-7 {
  padding-top: 1.75rem;
}
.padding-top-8 {
  padding-top: 2rem;
}

@media screen and (max-width: 1023px) {
  .padding-top-md-4 {
    padding-top: 1rem;
  }
}
@media screen and (max-width: 450px) {
  .justify-evenly-sm {
    justify-content: space-evenly;
  }

  .padding-top-sm-4 {
    padding-top: 1rem;
  }
}
.padding-bottom-1 {
  padding-bottom: 0.5rem;
}
.padding-bottom-2 {
  padding-bottom: 1rem;
}
.padding-bottom-3 {
  padding-bottom: 1.5rem;
}
.padding-bottom-4 {
  padding-bottom: 2rem;
}
.padding-bottom-5 {
  padding-bottom: 2.5rem;
}
.padding-bottom-6 {
  padding-bottom: 3rem;
}
.padding-bottom-7 {
  padding-bottom: 3.5rem;
}
.padding-bottom-8 {
  padding-bottom: 4rem;
}
.padding-bottom-9 {
  padding-bottom: 4.5rem;
}
.padding-bottom-10 {
  padding-bottom: 5rem;
}
.padding-bottom-11 {
  padding-bottom: 5.5rem;
}
.padding-bottom-12 {
  padding-bottom: 6rem;
}
.padding-bottom-13 {
  padding-bottom: 6.5rem;
}
.padding-bottom-14 {
  padding-bottom: 7rem;
}
.padding-bottom-15 {
  padding-bottom: 7.5rem;
}
.padding-bottom-16 {
  padding-bottom: 8rem;
}

.padding-horizontal-1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.padding-horizontal-2 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.padding-horizontal-3 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.padding-horizontal-4 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.padding-horizontal-5 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.padding-horizontal-6 {
  padding-left: 3rem;
  padding-right: 3rem;
}
.padding-horizontal-7 {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}
.padding-horizontal-8 {
  padding-left: 4rem;
  padding-right: 4rem;
}
.padding-horizontal-9 {
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}
.padding-horizontal-10 {
  padding-left: 5rem;
  padding-right: 5rem;
}
.padding-horizontal-11 {
  padding-left: 5.5rem;
  padding-right: 5.5rem;
}
.padding-horizontal-12 {
  padding-left: 6rem;
  padding-right: 6rem;
}
.padding-horizontal-13 {
  padding-left: 6.5rem;
  padding-right: 6.5rem;
}
.padding-horizontal-14 {
  padding-left: 7rem;
  padding-right: 7rem;
}
.padding-horizontal-15 {
  padding-left: 7.5rem;
  padding-right: 7.5rem;
}
.padding-horizontal-16 {
  padding-left: 8rem;
  padding-right: 8rem;
}

.width-none {
  width: 0%;
}
.width-10 {
  width: 10%;
}
.width-20 {
  width: 20%;
}
.width-30 {
  width: 30%;
}
.width-40 {
  width: 40%;
}
.width-50 {
  width: 50%;
}
.width-60 {
  width: 60%;
}
.width-70 {
  width: 70%;
}
.width-80 {
  width: 80%;
}
.width-90 {
  width: 90%;
}
.width-100 {
  width: 100%;
}

.bold {
  font-weight: 600;
}

.no-wrap {
  white-space: nowrap;
}

.color-primary {
  color: var(--primary-colour);
}

.color-secondary {
  color: var(--secondary-colour);
}

.background-primary {
  background: var(--primary-colour);
}

.background-secondary {
  background: var(--secondary-colour);
}

.opacity-none {
  opacity: 0%;
}
.opacity-10 {
  opacity: 10%;
}
.opacity-20 {
  opacity: 20%;
}
.opacity-30 {
  opacity: 30%;
}
.opacity-40 {
  opacity: 40%;
}
.opacity-50 {
  opacity: 50%;
}
.opacity-60 {
  opacity: 60%;
}
.opacity-70 {
  opacity: 70%;
}
.opacity-80 {
  opacity: 80%;
}
.opacity-90 {
  opacity: 90%;
}
.opacity-100 {
  opacity: 100%;
}

.border-radius-none {
  border-radius: 0%;
}
.border-radius-2 {
  border-radius: 2rem;
}
.border-radius-10 {
  border-radius: 10%;
}
.border-radius-20 {
  border-radius: 20%;
}
.border-radius-30 {
  border-radius: 30%;
}
.border-radius-40 {
  border-radius: 40%;
}
.border-radius-50 {
  border-radius: 50%;
}
.border-radius-60 {
  border-radius: 60%;
}
.border-radius-70 {
  border-radius: 70%;
}
.border-radius-80 {
  border-radius: 80%;
}
.border-radius-90 {
  border-radius: 90%;
}
.border-radius-100 {
  border-radius: 100%;
}

.icon-medium {
  width: 13px;
  height: 13px;
}

.icon-round {
  padding: 9px;
  border: 3px solid var(--blue);
}

.border-3px-solid-blue {
  border: 3px solid var(--blue);
}
.border-1px-solid-light-grey {
  border-top: 1px solid var(--light-grey);
}
.border-1px-solid-black {
  border-top: 1px solid var(--black);
}

.cta-btn-underlined {
  display: inline-block;
  /* font-size: 36px; */
  font-size: 1.125rem;
  text-decoration: none;
  /* color: var(--primary-color); */
  color: inherit;
  padding: 5px 0px;
  border: none;
  margin: 40px 0px;
  position: relative;
}

.cta-btn-underlined::before {
  position: absolute;
  content: " ";
  bottom: 0px;
  left: 0px;
  height: 2px;
  width: 100%;
  transform-origin: right;
  transform: scaleX(1);
  transition: transform 300ms ease-in;
  background: var(--primary-color);
}

.cta-btn-underlined:hover::before {
  /* animation: cta-btn-underlined 800ms forwards; */
  transform: scaleX(0);
  transform-origin: right;
}

.cta-btn-underlined::after {
  position: absolute;
  content: " ";
  bottom: 0px;
  left: 0px;
  height: 2px;
  width: 100%;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 300ms ease-in 200ms;
  background: var(--primary-color);
}

.cta-btn-underlined:hover::after {
  /* animation: cta-btn-underlined 200ms forwards; */
  transform: scaleX(1);
  transform-origin: left;
  transition-timing-function: ease-in;
}

@keyframes cta-btn-underlined {
  0% {
    transform: scaleX(1);
    transform-origin: left;
  }
  50% {
    transform: scaleX(0);
    transform-origin: right;
  }
  /* 52% {
    opacity: 0;
  }

  75% {
    transform: scaleX(0);
  } */
  100% {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
  }
}
